*{
    margin: 0;
}

body{
    background-color: #000000;
    overflow-x: visible;
}

body::-webkit-scrollbar{
    width: 0;
    height: 0;
}

@font-face {
    font-family: Gilroy-Black;
    src: url('Resources/Gilroy Font/Gilroy-Black.ttf') ;
}

@font-face {
    font-family: Gilroy-Black-Italic;
    src: url('Resources/Gilroy Font/Gilroy-BlackItalic.ttf') ;
}

@font-face {
    font-family: Gilroy-Bold;
    src: url('Resources/Gilroy Font/Gilroy-Bold.ttf') ;
}

@font-face {
    font-family: Gilroy-Bold-Italic;
    src: url('Resources/Gilroy Font/Gilroy-BoldItalic.ttf') ;
}

@font-face {
    font-family: Gilroy-Extra-Bold;
    src: url('Resources/Gilroy Font/Gilroy-ExtraBold.ttf') ;

}

@font-face {
    font-family: Gilroy-Extra-Bold-Italic;
    src: url('Resources/Gilroy Font/Gilroy-ExtraBoldItalic.ttf') ;
}

@font-face {
    font-family: Gilroy-Heavy;
    src: url('Resources/Gilroy Font/Gilroy-Heavy.ttf');
}

@font-face {
    font-family: Gilroy-Heavy-Itlaic;
    src: url('Resources/Gilroy Font/Gilroy-HeavyItalic.ttf') ;
}

@font-face {
    font-family: Gilroy-Light;
    src: url('Resources/Gilroy Font/Gilroy-Light.ttf') ;
}

@font-face {
    font-family: Gilroy-Light-Italic;
    src: url('Resources/Gilroy Font/Gilroy-LightItalic.ttf') ;
}

@font-face {
    font-family: Gilroy-Medium;
    src: url('Resources/Gilroy Font/Gilroy-Medium.ttf') ;
}

@font-face {
    font-family: Gilroy-Medium-Italic;
    src: url('Resources/Gilroy Font/Gilroy-Black.ttf') ;
}

@font-face {
    font-family: Gilroy-Regular;
    src: url('Resources/Gilroy Font/Gilroy-Regular.ttf') ;
}

@font-face {
    font-family: Gilroy-Regualr-Italic;
    src: url('Resources/Gilroy Font/Gilroy-RegularItalic.ttf') ;
}

@font-face {
    font-family: Gilroy-SemiBold;
    src: url('Resources/Gilroy Font/Gilroy-SemiBold.ttf') ;
}

@font-face {
    font-family: Gilroy-SemiBold-Italic;
    src: url('Resources/Gilroy Font/Gilroy-SemiBoldItalic.ttf') ;
}

@font-face {
    font-family: Gilroy-Thin;
    src: url('Resources/Gilroy Font/Gilroy-Thin.ttf') ;
}

@font-face {
    font-family: Gilroy-Thin-Italic;
    src: url('Resources/Gilroy Font/Gilroy-ThinItalic.ttf') ;
}

@font-face {
    font-family: Gilroy-Ultra-Light;
    src: url('Resources/Gilroy Font/Gilroy-UltraLight.ttf') ;
}

@font-face {
    font-family: Gilroy-Ultra-Light-Italic;
    src: url('Resources/Gilroy Font/Gilroy-UltraLightItalic.ttf');
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 280px;
    height: 100%;
    margin:0;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    overflow: none;
}

ul {
    padding: 20px;
}

li {
    margin-bottom: 10px;
}

.logo img {
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.search input {
    width: 100%;
    border: none;
    background-color: #000000;
    color: white;
    margin-top: 5%;;
}

a {
    text-decoration: none;
    color: white;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

.searchbox-style::placeholder{
    font-family: Gilroy-Light, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 10%;
}

.core-elements-section, .guide-section{
    padding-left: 10%;
    padding-top: 5%;
    width: 100%;
}

.vican-medium-menu-heading{
    font-family: Gilroy-Light, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.vican-light-menu{
    font-family: Gilroy-Light, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container {
    display: flex;
}

.navbar {
    flex-shrink: 0;
}

.main-content {
    flex-grow: 1;
    padding-left: 180px; /* Adjust this value to match the width of the navbar */
}

.active{
    color: #E0C438;
}

.scroller-svg {
    width: auto;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 98.8%;
    z-index: 999;
}

.line {
    width: 0.25px;
    height: 300px;
    background-color: #EBEBEB;
}

.square {
    width: 20px;
    height: 20px;
    background-color: #EBEBEB;
}

.scroller-container{
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.scroller-svg-container{
    display: flex; 
    flex-direction: column; 
    align-items: center;
    overflow-x: visible;
}

/* Styling the Logo Section */

.logo-main{
    width: 100%; 
    height: 100%; 
    background: #E0C438;
}

.logo-main-content{
    width: 100%; 
    height: auto; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    gap: 80px; 
    display: inline-flex;
    padding-top: 100px;
    padding-left: 150px;
}

.logo-main-heading{
    width: 676px; 
    height: 73px; 
    color: black; 
    font-size: 80px; 
    font-family: Gilroy-Heavy; 
    font-weight: 400; 
    text-transform: uppercase; 
    letter-spacing: 4px; 
    word-wrap: break-word;
    padding-top: 40px; 
}

.logo-main-text{
    width: 932px
}

.logo-main-subheading{
    color: black; 
    font-size: 20px; 
    font-family: Gilroy-Medium; 
    font-weight: 400; 
    word-wrap: break-word;
}

.logo-main-paragraph{
    color: black; 
    font-size: 20px; 
    font-family: Gilroy-Light; 
    font-weight: 400; 
    word-wrap: break-word;
    padding-top: 150px;
    padding-bottom: 60px;
}

.logo-watermark-container{
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 25px; 
    display: inline-flex;
}

.selection{
    width: 100px; 
    height: 109.13px; 
    position: relative;
}

.selection-box{
    width: 100px; 
    height: 100px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    border: 0.50px black solid;
}

.selection-square{
    width: 20px; 
    height: 20px; 
    left: 40px; 
    top: 89.13px; 
    position: absolute; 
    background: black;
}



/* End of styling in the logo section */

/* Start of styling in the brand claim section */


/* End of styling in the brand claim section */