body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    overflow-x: hidden;
  }
  
  /* Style the page title */
  .title {
    font-family: Gilroy-Light, sans-serif;
  }
  
  /* Style the sidebar */
  .sidebar {
    width: 15%;
    height: 100%;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 0.5px solid rgba(235, 235, 235, 0.4);
    z-index: 99;
  }
  
  /* Style the sidebar links */
  .sidebar a {
    display: block;
    padding-left: 50px;
    padding-top: 9px;
    text-align: left;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
    font-family: Gilroy-Light, sans-serif;
  }
  
  .sidebar .active {
    color: #e0c438 !important;
    font-family: Gilroy-Medium, sans-serif !important;
  }
  
  .logo-image {
    padding-bottom: 12.5%;
    padding-top: 2.5%;
    width: 25%;
  }
  
  .divider-1 {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 0.5px solid rgba(235, 235, 235, 0.4);
  }
  
  .divider-2 {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 0.5px solid rgba(235, 235, 235, 0.4);
    border-bottom: 0.5px solid rgba(235, 235, 235, 0.4);
  }

  .divider-3 {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 0.5px solid rgba(235, 235, 235, 0.4);
  }
  
  .search-bar {
    margin-left: 50px;
    color: #ebebeb;
    background-color: #000000;
    border: none;
  }
  
  .search-bar::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    background: linear-gradient(
        45deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 43%,
        #ffffff,
        #ffffff,
        rgba(0, 0, 0, 0) 57%,
        rgba(0, 0, 0, 0) 100%
      ),
      linear-gradient(
        135deg,
        transparent 0%,
        transparent 43%,
        #ffffff 45%,
        #ffffff 55%,
        transparent 57%,
        transparent 90%
      );
  
    background-size: contain;
  }
  
  .sidebar-heading {
    color: white;
    font-size: 14px;
    padding-left: 50px;
    font-family: Gilroy-Light, sans-serif;
  }
  
  .main-content {
    margin-left: 15.04%;
    position: relative;
    display: flex;
    flex-direction: column;
    opacity: 0.3;
    animation: fadeOpacity 1s 1 forwards;
  }

  @keyframes fadeOpacity{
    0%{
      opacity: 0.3;
    }
    100%{
      opacity: 1;
    }
  }
  
  .basics-list {
    padding-left: 30px;
    line-height: 1;
    position: relative;
    flex-direction: column;
    height: 250px;
    overflow: hidden;
  } 
  
  .right-slide-arrow-button {
    background-color: transparent;
    border: none;
  }

  .scroller-svg {
    width: auto;
    height: 300px;
    position: fixed;
    top: 40%;
    left: 97.8%;
    z-index: 999;
}

.line {
    width: 0.25px;
    height: 290px;
    background-color: #EBEBEB;
    position: relative;
    top: -20px;
}

.square {
    width: 20px;
    height: 20px;
    background-color: #EBEBEB;
}

.scroller-container{
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.scroller-svg-container{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

body::-webkit-scrollbar{
    width: 0%;
    height: 0%;
}

.sidebar .active:hover {
  font-size: 22px;
}

.item-hover{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: margin 0.1s ease-in, font-size 0.1s ease-out;
}

.item-hover:hover{
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 24px;
}

.item-inactive{
  cursor: default;
}

.divider-3 a{
  color: #ebebeb52;
}


.sidebar-heading-2 {
  color: #EBEBEB52;
  font-size: 14px;
  padding-left: 50px;
  font-family: Gilroy-Light, sans-serif;
}

@keyframes slideAway{
  from{
    opacity: 0.3;
  }
  to{
    opacity: 1;
  }
}

.ribbon, .ribbon-container{
  width: 100%;
}

.design-section-content.active,
.positioning-heading.active,
.positioning-images.active,
.example-heading.active,
.example-image-1.active,
.example-image-2.active{
  opacity: 1;
  transform: translateY(-10px);
  transition: opacity 1s, transform 1s;
}

.white-ribbon.active{
  animation: slide-left 2s ease forwards;
  animation-delay: 100ms;
}

.black-ribbon.active{
  animation: slide-right 2s ease forwards;
}

.yellow-ribbon.active{
  animation: slide-left 2s ease forwards;
  animation-delay: 100ms;
}

.design-section{
  height: 632px; 
  padding-top: 50px; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  display: flex;
}

.positioning-section{
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  display: flex;
}

.examples-section{
  padding-top: 50px; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  display: flex;
}

.design-section-content{
  padding-bottom: 50px; 
  padding-left: 100px; 
  padding-right: 100px; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 50px; 
  display: flex;
  opacity: 0.3;
}

.white-ribbon{
  width: 100%; 
  height: 105px; 
  padding-left: 100px; 
  padding-right: 100px; 
  background: #EBEBEB; 
  justify-content: center; 
  align-items: center; 
  gap: 30px; 
  display: inline-flex;
  position: relative;
  left: 0%;
  opacity: 0;
  z-index: -1;
}

.black-ribbon{
  width: 100%; 
  height: 105px; 
  padding-left: 100px; 
  padding-right: 100px; 
  background: black; 
  justify-content: center; 
  align-items: center; 
  gap: 30px; 
  display: inline-flex;
  position: relative;
  right: 0%;
  opacity: 0;
  z-index: -1;
}

.yellow-ribbon{
  width: 100%; 
  height: 105px; 
  padding-left: 100px; 
  padding-right: 100px; 
  background: #E0C438; 
  justify-content: center; 
  align-items: center; 
  gap: 30px; 
  display: inline-flex;
  position: relative;
  left: 0%;
  opacity: 0;
  z-index: -1;
}


@keyframes slide-left{
  from{
    opacity: 0.3;
    left: 100%;
  }
  to{
    opacity: 1;
    left: 0%;
  }
}

@keyframes slide-right{
  from{
    opacity: 0.3;
    right: 100%;
  }
  to{
    opacity: 1;
    right: 0%;
  }
}

.positioning-heading{
  padding-bottom: 50px; 
  padding-left: 100px; 
  padding-right: 100px; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 50px; 
  display: flex;
  opacity: 0.3;
}

.positioning-heading-text{
  width: 439px; 
  height: 44px; 
  color: #EBEBEB; 
  font-size: 50px; 
  font-family: Gilroy-Bold; 
  font-weight: 400; 
  text-transform: uppercase; 
  letter-spacing: 2.50px; 
  word-wrap: break-word;
}

.positioning-text{
  width: 972px;
}

.positioning-subheading{
  color: #EBEBEB; 
  font-size: 20px; 
  font-family: Gilroy-Medium; 
  font-weight: 400; 
  word-wrap: break-word;
}

.positioning-paragraph{
  color: #EBEBEB; 
  font-size: 20px; 
  font-family: Gilroy-Light; 
  font-weight: 400; 
  word-wrap: break-word;
}

.positioning-images{
  padding-left: 100px; 
  justify-content: center; 
  align-items: center; 
  gap: 30px; 
  display: inline-flex; 
  opacity: 0.3;
}

.positioning-image-1-2-3{
  height: 607px; 
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  display: flex;
}

.vertical-line-1{
  width: 1px; 
  height: 608px; 
  border-left: 0.25px   rgba(235, 235, 235, 0.4)  solid;
}

.vertical-line-2{
  width: 1px; 
  height: 608px; 
  border-left: 0.25px   rgba(235, 235, 235, 0.4) solid;
}

.image{
  width: 430px; 
  height: 607px;
}

.example-heading {
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  display: flex;
  opacity: 0.3;
}

.example-heading-text{
  color: #EBEBEB; 
  font-size: 50px; 
  font-family: Gilroy-Bold; 
  font-weight: 400; 
  text-transform: uppercase; 
  letter-spacing: 2.50px; 
  word-wrap: break-word;
}

.example-image-1 {
  padding-left: 100px;
  padding-right: 100px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  display: inline-flex;
  opacity: 0.3;
}

.image-1-example{
  height: 959px; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  display: inline-flex;
}

.image-1{
  width: 1408px; 
  height: 961px;
}

.example-image-2 {
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  display: inline-flex;
  opacity: 0.3;
}

.image-2-example{
  height: 607px; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  display: inline-flex;
}

.image-2{
  width: 1414px; 
  height: 601.75px;
}



.item-1 a{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: font-size 0.1s ease-out;
  position: absolute;
  top: 0%;
}

.item-1 a:hover{
  font-size: 24px;
}

.item-2 a{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: font-size 0.1s ease-out;
  position: absolute;
  top: 12%;
}

.item-2 a:hover{
  font-size: 24px;
}

.item-3 a{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: font-size 0.1s ease-out;
  position: absolute;
  top: 24%;
}

.item-3 a:hover{
  font-size: 24px;
}

.item-4 a{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: font-size 0.1s ease-out;
  position: absolute;
  top: 36%;
}

.item-4 a:hover{
  font-size: 24px;
}

.item-5 a{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: font-size 0.1s ease-out;
  position: absolute;
  top: 48%;
}

.item-5 a:hover{
  font-size: 24px;
}

.item-6 a{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: font-size 0.1s ease-out;
  position: absolute;
  top: 60%;
}

.item-6 a:hover{
  font-size: 24px;
}

.item-7 a{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: font-size 0.1s ease-out;
  position: absolute;
  top: 72%;
}

.item-7 a:hover{
  font-size: 24px;
}

.item-8 a{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: font-size 0.1s ease-out;
  position: absolute;
  top: 84%;
}

.item-8 a:hover{
  font-size: 24px;
}

.brand-claim-section{
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 10px; 
  display: inline-flex
}

.brand-claim {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.brand-claim-content {
  width: 1615px;
  height: 970px;
  position: relative;
}

.brand-claim-image {
  left: 470px;
  top: 0px;
  position: absolute;
  width: 90%;
}

.brand-claim-block {
  width: 1024px;
  height: 970px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #e0c438;
}

.brand-claim-text {
  padding-top: 320px;
  padding-left: 150px;
  height: 298px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
  display: flex;
}

.brand-claim-heading {
  width: 808px;
  height: 73px;
  color: black;
  font-size: 80px;
  font-family: Gilroy-Heavy;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-wrap: break-word;
  z-index: 999;
}

.brand-claim-text-1 {
  width: 807px;
  z-index: 999;
}

.brand-claim-subheading-1 {
  color: black;
  font-size: 20px;
  font-family: Gilroy-Medium;
  font-weight: 400;
  word-wrap: break-word;
}

.brand-claim-subheading-2 {
  color: black;
  font-size: 20px;
  font-family: Gilroy-Heavy;
  font-weight: 400;
  word-wrap: break-word;
}

.brand-claim-paragraph {
  color: black;
  font-size: 20px;
  font-family: Gilroy-Light;
  font-weight: 400;
  word-wrap: break-word;
}

.design-section-heading{
  height: 44px; 
  color: #EBEBEB; 
  font-size: 50px; 
  font-family: Gilroy-Bold; 
  font-weight: 400; 
  text-transform: uppercase; 
  letter-spacing: 2.50px; 
  word-wrap: break-word;
}

.design-section-text{
  width: 972px;
}

.design-text-1{
  color: #EBEBEB; 
  font-size: 20px; 
  font-family: Gilroy-Medium; 
  font-weight: 400;
  word-wrap: break-word;
}

.design-text-2{
  color: #EBEBEB; 
  font-size: 20px; 
  font-family: Gilroy-Heavy; 
  font-weight: 400; 
  word-wrap: break-word;
}

.design-text-3{
  color: #E0C438; 
  font-size: 20px; 
  font-family: Gilroy-Heavy; 
  font-weight: 400; 
  word-wrap: break-word;
}

.design-text-4{
  color: #EBEBEB; 
  font-size: 20px; 
  font-family: Gilroy-Heavy; 
  font-weight: 400; 
  word-wrap: break-word;
}

.design-text-5{
  color: #EBEBEB; 
  font-size: 20px; 
  font-family: Gilroy-Medium; 
  font-weight: 400; 
  word-wrap: break-word;
}

.design-text-6{
  color: #EBEBEB; 
  font-size: 20px; 
  font-family: Gilroy-Light; 
  font-weight: 400; 
  word-wrap: break-word;
}

.design-text-7{
  color: #E0C438; 
  font-size: 20px; 
  font-family: Gilroy-Heavy; 
  font-weight: 400; 
  word-wrap: break-word;
}

.design-text-8{
  color: #E0C438; 
  font-size: 20px; 
  font-family: Gilroy-Heavy; 
  font-weight: 400; 
  word-wrap: break-word;
}

.design-text-9{
  color: #E0C438; 
  font-size: 20px; 
  font-family: Gilroy-Heavy; 
  font-weight: 400; 
  word-wrap: break-word;
}

.design-text-10{
  color: #EBEBEB; 
  font-size: 20px; 
  font-family: Gilroy-Heavy; 
  font-weight: 400; 
  word-wrap: break-word;
}

.design-text-11{
  color: #EBEBEB; 
  font-size: 20px; 
  font-family: Gilroy-Light; 
  font-weight: 400; 
  word-wrap: break-word;
}

.white-ribbon-layout{
  width: 920px;
}

.white-ribbon-text-1{
  color: black; 
  font-size: 50px; 
  font-family: Gilroy-Light; 
  font-weight: 400; 
  word-wrap: break-word;
}

.white-ribbon-text-2{
  color: black; 
  font-size: 50px; 
  font-family: Gilroy-Bold; 
  font-weight: 400; 
  word-wrap: break-word;
}

.black-ribbon-layout{
  width: 900px
}

.black-ribbon-text-1{
  color: #EBEBEB; 
  font-size: 50px; 
  font-family: Gilroy-Light; 
  font-weight: 400; 
  word-wrap: break-word;
}

.black-ribbon-text-2{
  color: #E0C438; 
  font-size: 50px; 
  font-family: Gilroy-Bold; 
  font-weight: 400; 
  word-wrap: break-word;
}

.yellow-ribbon-layout{
  width: 909px;
}

.yellow-ribbon-text-1{
  color: black; 
  font-size: 50px; 
  font-family: Gilroy-Medium; 
  font-weight: 400; 
  word-wrap: break-word;
}

.yellow-ribbon-text-2{
  color: black; 
  font-size: 50px; 
  font-family: Gilroy-Heavy; 
  font-weight: 400; 
  word-wrap: break-word;
}


@media(max-width: 1919px){

  .sidebar{
    width: 15%;
    padding-top: 2%;
  }

  .sidebar a{
    padding-left: 15%;
    padding-top: 2%;
    font-size: 16px;
  }

  .search-bar{
    margin-left: 15%;
    width: 70%;
  }

  .sidebar-heading{
    padding-left: 15%;
  }

  .sidebar-heading-2{
    padding-left: 15%;
  }

  .scroller-svg{
    height: 100%;
    top: 10%;
  }

  .basics-list {
    height: 200px;
  } 

  .line{
    height: 200px;
    top: -16px;
  }

  .square{
    width: 17px;
    height: 17px;
  }

  .basics-list{
    padding-left: 8%;
  }

  .basics-list .item a{
    font-size: 16px;
  }

  .basics-list .item:hover a{
    font-size: 20px;
  }

  .item-1 a, .item-2 a, .item-3 a,
  .item-4 a, .item-5 a, .item-6 a,
  .item-7 a, .item-8 a{
    font-size: 15px;
  }

  .brand-claim-content{
    width: 800px;
    height: 750px;
  }

  .brand-claim-block{
    width: 800px;
    height: 100%;
  }

  .brand-claim-text{
    padding-top: 20%;
    padding-left: 15%;
  }

  .brand-claim-text-1{
    width: 90%;
  }

  .brand-claim-heading{
    font-size: 70px;
  }

  .brand-claim-subheading-1{
    font-size: 18px;
  }

  .brand-claim-subheading-2{
    font-size: 18px;
  }

  .brand-claim-paragraph{
    font-size: 18px;
  }

  .brand-claim-image{
    width: 131%;
    height: auto;
  }

  .design-section{
    padding-top: 50px;
    height: 550px;
  }

  .design-section-heading{
    font-size: 40px;
  }

  .design-text-1{
    font-size: 18px;
  }

  .design-text-2{
    font-size: 18px;
  }

  .design-text-3{
    font-size: 18px;
  }

  .design-text-4{
    font-size: 18px;
  }

  .design-text-5{
    font-size: 18px;
  }

  .design-text-6{
    font-size: 18px;
  }

  .design-text-7{
    font-size: 18px;
  }

  .design-text-8{
    font-size: 18px;
  }

  .design-text-9{
    font-size: 18px;
  }

  .design-text-10{
    font-size: 18px;
  }

  .design-text-11{
    font-size: 18px;
  }

  .white-ribbon{
    width: 100%;
    height: 80px;
    padding-left: 15%;
  }

  .white-ribbon-text-1{
    font-size: 40px;
  }

  .white-ribbon-text-2{
    font-size: 40px;
  }

  .black-ribbon{
    width: 100%;
    height: 80px;
    padding-left: 15%;
  }

  .black-ribbon-text-1{
    font-size: 40px;
  }

  .black-ribbon-text-2{
    font-size: 40px;
  }

  .yellow-ribbon{
    width: 100%;
    height: 80px;
    padding-left: 15%;
  }

  .yellow-ribbon-text-1{
    font-size: 40px;
  }

  .yellow-ribbon-text-2{
    font-size: 40px;
  }

  .positioning-heading-text{
    font-size: 40px;
  }

  .positioning-subheading{
    font-size: 18px;
  }

  .positioning-paragraph{
    font-size: 18px;
  }

  .vertical-line-1{
    height: 400px;
  }

  .vertical-line-2{
    height: 400px;
  }

  .positioning-image-1-2-3{
    width: 50%;
  }

  .image{
    width: 280px;
    height: auto;
  }

  .example-heading-text{
    font-size: 40px;
  }

  .image-1-example{
    height: auto;
  }

  .image-1{
    width: 1000px;
    height: auto;
  }

  .image-2-example{
    height: auto;
  }

  .image-2{
    width: 1000px;
    height: auto;
  }

}