body {
    margin: 0;
    padding: 0;
    background-color: #000000;
  }
  
  /* Style the page title */
  .title {
    font-family: Gilroy-Light, sans-serif;
  }
  
  /* Style the sidebar */
  .sidebar {
    width: 15%;
    height: 100%;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 0.5px solid rgba(235, 235, 235, 0.4);
    z-index: 999;
  }
  
  /* Style the sidebar links */
  .sidebar a {
    display: block;
    padding-left: 50px;
    padding-top: 9px;
    text-align: left;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
    font-family: Gilroy-Light, sans-serif;
  }
  
  .sidebar .active {
    color: #e0c438 !important;
    font-family: Gilroy-Medium, sans-serif !important;
  }
  
  .logo-image {
    padding-bottom: 12.5%;
    padding-top: 2.5%;
    width: 25%;
  }
  
  .divider-1 {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 0.5px solid rgba(235, 235, 235, 0.4);
  }
  
  .divider-2 {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 0.5px solid rgba(235, 235, 235, 0.4);
    border-bottom: 0.5px solid rgba(235, 235, 235, 0.4);
  }

  .divider-3 {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 0.5px solid rgba(235, 235, 235, 0.4);
  }
  
  .search-bar {
    margin-left: 50px;
    color: #ebebeb;
    background-color: #000000;
    border: none;
  }
  
  .search-bar::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    background: linear-gradient(
        45deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 43%,
        #ffffff,
        #ffffff,
        rgba(0, 0, 0, 0) 57%,
        rgba(0, 0, 0, 0) 100%
      ),
      linear-gradient(
        135deg,
        transparent 0%,
        transparent 43%,
        #ffffff 45%,
        #ffffff 55%,
        transparent 57%,
        transparent 90%
      );
  
    background-size: contain;
  }
  
  .sidebar-heading {
    color: white;
    font-size: 14px;
    padding-left: 50px;
    font-family: Gilroy-Light, sans-serif;
  }
  
  .main-content {
    margin-left: 15.04%;
    position: relative;
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: fadeOpacity 2s 1 forwards;
  }

  @keyframes fadeOpacity{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  
  
  
  /* Adjust padding for the list */
  .basics-list {
    padding-left: 30px;
    line-height: 1;
    display: flex;
    flex-direction: column;
    height: 240px;
  }
  
  
  .right-slide-arrow-button {
    background-color: transparent;
    border: none;
  }

  .scroller-svg {
    width: auto;
    height: 300px;
    position: fixed;
    top: 40%;
    left: 97.8%;
    z-index: 999;
}

.line {
    width: 0.25px;
    height: 290px;
    background-color: #EBEBEB;
    position: relative;
    top: -20px;
}

.square {
    width: 20px;
    height: 20px;
    background-color: #EBEBEB;
}

.scroller-container{
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.scroller-svg-container{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

body::-webkit-scrollbar{
    width: 0%;
    height: 0%;
}

.sidebar .active:hover {
  font-size: 22px;
}

.item-hover{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: margin 0.1s ease-in, font-size 0.1s ease-out;
}

.item-hover:hover{
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 24px;
}

.item-inactive{
  cursor: default;
}

.divider-3 a{
  color: #ebebeb52;
}


.sidebar-heading-2 {
  color: #EBEBEB52;
  font-size: 14px;
  padding-left: 50px;
  font-family: Gilroy-Light, sans-serif;
}

#archway {
  transform-origin: bottom center;
  width: 14px; /* Set the height of your SVG */
  height: auto;
  transition: 0.3s ease-out;
  position:fixed;
  top: 29%;
  left: 14.3%;
  border: none;
  z-index: 999;
  animation: slideAway 0.5s 1 forwards;
}

@keyframes slideAway{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.design-section-content.active,
.positioning-heading.active,
.positioning-images.active,
.example-heading.active,
.example-image-1.active,
.example-image-2.active{
  opacity: 1;
  transform: translateY(-10px);
  transition: opacity 1s, transform 1s;
}

.white-ribbon.active,
.yellow-ribbon.active{
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 1s, transform 1s;
}

.black-ribbon.active{
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 1s, transform 1s;
}

.design-section{
  height: 632px; 
  padding-top: 50px; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  display: flex;
}

.positioning-section{
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  display: flex;
}

.examples-section{
  padding-top: 50px; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  display: flex;
}

.design-section-content{
  padding-bottom: 50px; 
  padding-left: 100px; 
  padding-right: 100px; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 50px; 
  display: flex;
  opacity: 0;
}

.white-ribbon{
  width: 1430px; 
  height: 105px; 
  padding-left: 100px; 
  padding-right: 100px; 
  background: #EBEBEB; 
  justify-content: center; 
  align-items: center; 
  gap: 30px; 
  display: inline-flex;
  position: relative;
  left: 0%;
  opacity: 0;
  z-index: -1;
}

.black-ribbon{
  width: 1417px; 
  height: 105px; 
  padding-left: 100px; 
  padding-right: 100px; 
  background: black; 
  justify-content: center; 
  align-items: center; 
  gap: 30px; 
  display: inline-flex;
  position: relative;
  right: 0%;
  opacity: 0;
  z-index: -1;
}

.yellow-ribbon{
  width: 1430px; 
  height: 105px; 
  padding-left: 100px; 
  padding-right: 100px; 
  background: #E0C438; 
  justify-content: center; 
  align-items: center; 
  gap: 30px; 
  display: inline-flex;
  position: relative;
  left: 0%;
  opacity: 0;
  z-index: -1;
}

.positioning-heading{
  padding-bottom: 50px; 
  padding-left: 100px; 
  padding-right: 100px; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 50px; 
  display: flex;
  opacity: 0;
}

.positioning-images{
  padding-left: 100px; 
  justify-content: center; 
  align-items: center; 
  gap: 30px; 
  display: inline-flex; 
  opacity: 0;
}

.example-heading {
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  display: flex;
  opacity: 0;
}

.example-image-1 {
  padding-left: 100px;
  padding-right: 100px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  display: inline-flex;
  opacity: 0;
}

.example-image-2 {
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  display: inline-flex;
  opacity: 0;
}
