body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    /* overflow-x: hidden; */
  }
  
  /* Style the page title */
  .title {
    font-family: Gilroy-Light, sans-serif;
  }
  
  /* Style the sidebar */
  .sidebar {
    width: 15%;
    height: 100%;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 0.5px solid rgba(235, 235, 235, 0.4);
  }
  
  /* Style the sidebar links */
  .sidebar a {
    display: block;
    padding-left: 50px;
    padding-top: 9px;
    text-align: left;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
    font-family: Gilroy-Light, sans-serif;
  }
  
  .sidebar .active {
    color: #e0c438 !important;
    font-family: Gilroy-Medium, sans-serif !important;
  }
  
  .logo-image {
    padding-bottom: 12.5%;
    padding-top: 2.5%;
    width: 25%;
  }
  
  .divider-1 {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 0.5px solid rgba(235, 235, 235, 0.4);
  }
  
  .divider-2 {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 0.5px solid rgba(235, 235, 235, 0.4);
    border-bottom: 0.5px solid rgba(235, 235, 235, 0.4);
  }

  .divider-3 {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 0.5px solid   rgba(235, 235, 235, 0.4);
  }
  
  .search-bar {
    margin-left: 50px;
    color: #ebebeb;
    background-color: #000000;
    border: none;
  }
  
  .search-bar::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    background: linear-gradient(
        45deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 43%,
        #ffffff,
        #ffffff,
        rgba(0, 0, 0, 0) 57%,
        rgba(0, 0, 0, 0) 100%
      ),
      linear-gradient(
        135deg,
        transparent 0%,
        transparent 43%,
        #ffffff 45%,
        #ffffff 55%,
        transparent 57%,
        transparent 90%
      );
  
    background-size: contain;
  }
  
  .sidebar-heading {
    color: white;
    font-size: 14px;
    padding-left: 50px;
    font-family: Gilroy-Light, sans-serif;
  }
  
  .main-content {
    margin-left: 15.04%;
    position: relative;
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: fadeOpacity 2s 1 forwards;
  }
  
  @keyframes fadeOpacity{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  
  .basics-list {
    padding-left: 30px;
    line-height: 1;
    position: relative;
    flex-direction: column;
    height: 250px;
    overflow: hidden;
  } 

  .colour-systems{
    background-color: #e0c438;
    height: 965px;
    position: relative;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, scrollbar-color 0.5s ease-in-out;
  }

  .colour-systems-content{
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    gap: 80px; 
    display: inline-flex;
    
  }

  .colour-system-heading{
    color: black; 
    font-size: 80px; 
    font-family: Gilroy-Heavy;
    text-transform: uppercase; 
    letter-spacing: 4px;
    word-wrap: break-word;
    padding-top: 18%;
    padding-left: 15%;
    transition: color 0.3s ease-in-out;
  }

  .colour-system-subheading{
    color: black; 
    font-size: 20px; 
    font-family: Gilroy-Medium; 
    font-weight: 400; 
    word-wrap: break-word;
    transition: color 0.3s ease-in-out;
  }

  .colour-system-paragraph{
    color: black; 
    font-size: 20px; 
    font-family: Gilroy-Light; 
    word-wrap: break-word;
    transition: color 0.3s ease-in-out;
  }

  .colour-system-themes{
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 25px; 
    display: inline-flex;
    padding-left: 15%;
    padding-top: 50px;
  }

  .yellow-button{
    width: 100px; 
    height: 100px; 
    background: #E0C438;
    border: 1px solid #000000;
  }

  .black-button{
    width: 100px; 
    height: 100px; 
    background: black;
    border: none;
}

  .white-button{
    width: 100px; 
    height: 100px; 
    background: #EBEBEB;
    border: none;
  }

  .active-square {
    width: 20px;
    height: 20px;
    left: 17.5%;
    top: 70%;
    position: absolute;
    background: black;
    transition: left 0.3s ease-in-out;
  }

  .scroller-svg {
    width: auto;
    height: 300px;
    position: fixed;
    top: 40%;
    left: 97.8%;
    z-index: 999;
}

.line {
    width: 0.25px;
    height: 290px;
    background-color: #EBEBEB;
    position: relative;
    top: -20px;
}

.square {
    width: 20px;
    height: 20px;
    background-color: #EBEBEB;
}

.scroller-container{
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.scroller-svg-container{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

body::-webkit-scrollbar{
    width: 0%;
    height: 0%;
}

.sidebar .active:hover {
  font-size: 22px;
}

.item-hover{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: margin 0.1s ease-in, font-size 0.1s ease-out;
}

.item-hover:hover{
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 24px;
}

.item-inactive{
  cursor: default;
}

.divider-3 a{
  color: #ebebeb52;
}


.sidebar-heading-2 {
  color: #EBEBEB52;
  font-size: 14px;
  padding-left: 50px;
  font-family: Gilroy-Light, sans-serif;
}

#archway {
  transform-origin: bottom center;
  width: 14px; /* Set the height of your SVG */
  height: auto;
  transition: 0.3s ease-out;
  position:fixed;
  top: 32%;
  left: 14.3%;
  border: none;
  z-index: 999;
  animation: slideAway 0.5s 1 forwards;
}

@keyframes slideAway{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.colour-systems-colours.active, 
.brand-colours-section.active{
  opacity: 1;
  transform: translateY(-10px);
  transition: opacity 1s, transform 1s;
}

.colour-systems-colours{
  justify-content: center; 
  align-items: center; 
  display: inline-flex;
  opacity: 0;
}

.brand-colours-section{
  padding-top: 50px; 
  padding-bottom: 50px; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  display: flex;
  opacity: 0;
}

.item-1 a{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: font-size 0.1s ease-out;
  position: absolute;
  top: 0%;
}

.item-1 a:hover{
  font-size: 24px;
}

.item-2 a{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: font-size 0.1s ease-out;
  position: absolute;
  top: 12%;
}

.item-2 a:hover{
  font-size: 24px;
}

.item-3 a{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: font-size 0.1s ease-out;
  position: absolute;
  top: 24%;
}

.item-3 a:hover{
  font-size: 24px;
}

.item-4 a{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: font-size 0.1s ease-out;
  position: absolute;
  top: 36%;
}

.item-4 a:hover{
  font-size: 24px;
}

.item-5 a{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: font-size 0.1s ease-out;
  position: absolute;
  top: 48%;
}

.item-5 a:hover{
  font-size: 24px;
}

.item-6 a{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: font-size 0.1s ease-out;
  position: absolute;
  top: 60%;
}

.item-6 a:hover{
  font-size: 24px;
}

.item-7 a{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: font-size 0.1s ease-out;
  position: absolute;
  top: 72%;
}

.item-7 a:hover{
  font-size: 24px;
}

.item-8 a{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: font-size 0.1s ease-out;
  position: absolute;
  top: 84%;
}

.item-8 a:hover{
  font-size: 24px;
}

.colour-systems-layout {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.colour-system-blocks-layout {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.yellow-block {
  width: 552px;
  height: 1080px;
  position: relative;
}

.yellow-block-layout {
  width: 550px;
  height: 469px;
  left: 0px;
  top: 0px;
  position: absolute;
}

.yellow-block-1 {
  width: 552px;
  height: 469px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #e0c438;
}

.yellow-block-1-heading {
  left: 49px;
  top: 71px;
  position: absolute;
  color: black;
  font-size: 30px;
  font-family: Gilroy-Heavy;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  word-wrap: break-word;
}

.yellow-block-1-section-1 {
  width: 462px;
  height: 81px;
  left: 23px;
  top: 145px;
  position: absolute;
}

.yellow-block-1-section-1-heading {
  left: 26px;
  top: 0px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: Gilroy-Medium;
  font-weight: 400;
  word-wrap: break-word;
}

.yellow-block-1-section-1-content-1 {
  left: 26px;
  top: 33px;
  position: absolute;
  color: black;
  font-size: 16px;
  font-family: Gilroy-Light;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.56px;
  word-wrap: break-word;
}

.yellow-block-1-section-1-content-2 {
  width: 195px;
  left: 267px;
  top: 33px;
  position: absolute;
  color: black;
  font-size: 16px;
  font-family: Gilroy-Light;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.56px;
  word-wrap: break-word;
}

.yellow-block-1-section-1-divider {
  width: 245px;
  height: 37px;
  left: 0px;
  top: 36px;
  position: absolute;
  border-right: 0.25px black solid;
}

.yellow-block-1-section-2 {
  width: 335px;
  height: 129px;
  left: 23px;
  top: 265px;
  position: absolute;
}

.yellow-block-1-section-2-heading {
  left: 26px;
  top: 0px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: Gilroy-Medium;
  font-weight: 400;
  word-wrap: break-word;
}

.yellow-block-1-section-2-content-1 {
  left: 26px;
  top: 33px;
  position: absolute;
  color: black;
  font-size: 16px;
  font-family: Gilroy-Light;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.56px;
  word-wrap: break-word;
}

.yellow-block-1-section-2-content-2 {
  width: 68px;
  left: 267px;
  top: 33px;
  position: absolute;
  color: black;
  font-size: 16px;
  font-family: Gilroy-Light;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.56px;
  word-wrap: break-word;
}

.yellow-block-1-section-2-divider {
  width: 245px;
  height: 85px;
  left: 0px;
  top: 36px;
  position: absolute;
  border-right: 0.25px black solid;
}

.yellow-block-2 {
  width: 537px;
  height: 647px;
  left: 0px;
  top: 433px;
  position: absolute;
}

.yellow-block-percentage-background {
  width: 552px;
  height: 611px;
  left: 0px;
  top: 36px;
  position: absolute;
  background: #ebebeb;
}

.yellow-block-colour-gradient-colour {
  width: 575px;
  height: 224px;
  left: 0px;
  top: 423px;
  position: absolute;
  background: linear-gradient(90deg, #e0c438 0%, #d9d9d9 100%);
}

.yellow-block-shading-square {
  width: 600px;
  height: 387px;
  left: 0px;
  top: 36px;
  position: absolute;
}

.yellow-80-percent-shaded-square-colour {
  width: 276px;
  height: 194px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: rgba(224, 196, 56, 0.8);
}

.yellow-40-percent-shaded-square-colour {
  width: 276px;
  height: 194px;
  left: 0px;
  top: 193px;
  position: absolute;
  background: rgba(224, 196, 56, 0.4);
}

.yellow-60-percent-shaded-square-colour {
  width: 276px;
  height: 194px;
  left: 276px;
  top: 0px;
  position: absolute;
  background: rgba(224, 196, 56, 0.6);
}

.yellow-20-percent-shaded-square-colour {
  width: 276px;
  height: 194px;
  left: 276px;
  top: 193px;
  position: absolute;
  background: rgba(224, 196, 56, 0.2);
}

.yellow-80-text {
  width: 172px;
  height: 96.28px;
  left: 52px;
  top: 17px;
  position: absolute;
  color: black;
  font-size: 30px;
  font-family: Gilroy-Heavy;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  word-wrap: break-word;
}

.yellow-40-text {
  width: 174px;
  height: 96.28px;
  left: 41px;
  top: 210px;
  position: absolute;
  color: black;
  font-size: 30px;
  font-family: Gilroy-Heavy;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  word-wrap: break-word;
}

.yellow-60-text {
  width: 172px;
  height: 96.28px;
  left: 317px;
  top: 17px;
  position: absolute;
  color: black;
  font-size: 30px;
  font-family: Gilroy-Heavy;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  word-wrap: break-word;
}

.yellow-20-text {
  width: 170px;
  height: 96.28px;
  left: 317px;
  top: 210px;
  position: absolute;
  color: black;
  font-size: 30px;
  font-family: Gilroy-Heavy;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  word-wrap: break-word;
}

.yellow-block-2-heading {
  left: 49px;
  top: 0px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: Gilroy-Medium;
  font-weight: 400;
  word-wrap: break-word;
}

.yellow-block-colour-gradient-heading {
  left: 145px;
  top: 516px;
  position: absolute;
  color: black;
  font-size: 30px;
  font-family: Gilroy-Heavy;
  font-weight: 400;
  letter-spacing: 1.5px;
  word-wrap: break-word;
}

.black-block {
  width: 537px;
  height: 1080px;
  position: relative;
}

.black-block-layout {
  width: 537px;
  height: 469px;
  left: 0px;
  top: 0px;
  position: absolute;
}

.black-block-1 {
  width: 544px;
  height: 469px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: black;
}

.black-block-heading {
  left: 49px;
  top: 71px;
  position: absolute;
  color: #e0c438;
  font-size: 30px;
  font-family: Gilroy-Heavy;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  word-wrap: break-word;
}

.black-block-content {
  width: 474px;
  height: 81px;
  left: 23px;
  top: 145px;
  position: absolute;
}

.black-block-content-1-heading {
  left: 26px;
  top: 0px;
  position: absolute;
  color: #e0c438;
  font-size: 20px;
  font-family: Gilroy-Medium;
  font-weight: 400;
  word-wrap: break-word;
}

.black-block-content-1-section-1 {
  left: 26px;
  top: 33px;
  position: absolute;
  color: #e0c438;
  font-size: 16px;
  font-family: Gilroy-Light;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.56px;
  word-wrap: break-word;
}

.black-block-content-1-section-2 {
  width: 207px;
  left: 267px;
  top: 33px;
  position: absolute;
  color: #e0c438;
  font-size: 16px;
  font-family: Gilroy-Light;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.56px;
  word-wrap: break-word;
}

.black-block-content-1-divider {
  width: 245px;
  height: 37px;
  left: 0px;
  top: 36px;
  position: absolute;
  border-right: 0.25px #e0c438 solid;
}

.black-block-content-2 {
  width: 335px;
  height: 129px;
  left: 23px;
  top: 265px;
  position: absolute;
}

.black-block-content-2-heading {
  left: 26px;
  top: 0px;
  position: absolute;
  color: #e0c438;
  font-size: 20px;
  font-family: Gilroy-Medium;
  font-weight: 400;
  word-wrap: break-word;
}

.black-block-content-2-section-1 {
  left: 26px;
  top: 33px;
  position: absolute;
  color: #e0c438;
  font-size: 16px;
  font-family: Gilroy-Light;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.56px;
  word-wrap: break-word;
}

.black-block-content-2-section-2 {
  width: 68px;
  left: 267px;
  top: 33px;
  position: absolute;
  color: #e0c438;
  font-size: 16px;
  font-family: Gilroy-Light;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.56px;
  word-wrap: break-word;
}

.black-block-content-2-divider {
  width: 245px;
  height: 85px;
  left: 0px;
  top: 36px;
  position: absolute;
  border-right: 0.25px #e0c438 solid;
}

.black-block-2-layout {
  width: 544px;
  height: 647px;
  left: 0px;
  top: 433px;
  position: absolute;
}

.black-block-percent-background {
  width: 537px;
  height: 611px;
  left: 0px;
  top: 36px;
  position: absolute;
  background: #ebebeb;
}

.black-block-colour-gradient-colour {
  width: 537px;
  height: 224px;
  left: 0px;
  top: 423px;
  position: absolute;
  background: linear-gradient(90deg, black 0%, #d9d9d9 100%);
}

.black-block-shaded-square {
  width: 537px;
  height: 387px;
  left: 0px;
  top: 36px;
  position: absolute;
}

.black-80-percent-shaded-square-colour {
  width: 268px;
  height: 193px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
}

.black-40-percent-shaded-square-colour {
  width: 268px;
  height: 194px;
  left: 0px;
  top: 193px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
}

.black-60-percent-shaded-square-colour {
  width: 269px;
  height: 193px;
  left: 268px;
  top: 0px;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
}

.black-20-percent-shaded-square-colour {
  width: 269px;
  height: 194px;
  left: 268px;
  top: 193px;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
}

.black-80-text {
  width: 172px;
  height: 96.28px;
  left: 52px;
  top: 17px;
  position: absolute;
  color: black;
  font-size: 30px;
  font-family: Gilroy-Heavy;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  word-wrap: break-word;
}

.black-40-text {
  width: 174px;
  height: 96.28px;
  left: 41px;
  top: 210px;
  position: absolute;
  color: black;
  font-size: 30px;
  font-family: Gilroy-Heavy;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  word-wrap: break-word;
}

.black-60-text {
  width: 172px;
  height: 96.28px;
  left: 317px;
  top: 17px;
  position: absolute;
  color: black;
  font-size: 30px;
  font-family: Gilroy-Heavy;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  word-wrap: break-word;
}

.black-20-text {
  width: 170px;
  height: 96.28px;
  left: 317px;
  top: 210px;
  position: absolute;
  color: black;
  font-size: 30px;
  font-family: Gilroy-Heavy;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  word-wrap: break-word;
}

.black-block-2-heading {
  left: 49px;
  top: 0px;
  position: absolute;
  color: #e0c438;
  font-size: 20px;
  font-family: Gilroy-Medium;
  font-weight: 400;
  word-wrap: break-word;
}

.black-block-colour-gradient-heading {
  left: 145px;
  top: 516px;
  position: absolute;
  color: black;
  font-size: 30px;
  font-family: Gilroy-Heavy;
  font-weight: 400;
  letter-spacing: 1.5px;
  word-wrap: break-word;
}

.white-block{
  width: 537px; 
  height: 1080px; 
  position: relative;
}

.white-block-layout {
  width: 537px;
  height: 469px;
  left: 0px;
  top: 0px;
  position: absolute;
}

.white-block-1 {
  width: 542px;
  height: 469px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #ebebeb;
}

.white-block-1-heading {
  left: 49px;
  top: 71px;
  position: absolute;
  color: black;
  font-size: 30px;
  font-family: Gilroy-Heavy;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  word-wrap: break-word;
}

.white-block-1-content-1 {
  width: 462px;
  height: 81px;
  left: 23px;
  top: 145px;
  position: absolute;
}

.white-block-1-content-1-heading {
  left: 26px;
  top: 0px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: Gilroy-Medium;
  font-weight: 400;
  word-wrap: break-word;
}

.white-block-1-content-1-section-1 {
  left: 26px;
  top: 33px;
  position: absolute;
  color: black;
  font-size: 16px;
  font-family: Gilroy-Light;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.56px;
  word-wrap: break-word;
}

.white-block-1-content-1-section-2 {
  width: 195px;
  left: 267px;
  top: 33px;
  position: absolute;
  color: black;
  font-size: 16px;
  font-family: Gilroy-Light;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.56px;
  word-wrap: break-word;
}

.white-block-1-content-1-divider {
  width: 245px;
  height: 37px;
  left: 0px;
  top: 36px;
  position: absolute;
  border-right: 0.25px black solid;
}

.white-block-1-content-2 {
  width: 335px;
  height: 129px;
  left: 23px;
  top: 265px;
  position: absolute;
}

.white-block-1-content-2-heading {
  left: 26px;
  top: 0px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: Gilroy-Medium;
  font-weight: 400;
  word-wrap: break-word;
}

.white-block-1-content-2-section-1 {
  left: 26px;
  top: 33px;
  position: absolute;
  color: black;
  font-size: 16px;
  font-family: Gilroy-Light;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.56px;
  word-wrap: break-word;
}

.white-block-1-content-2-section-2 {
  width: 68px;
  left: 267px;
  top: 33px;
  position: absolute;
  color: black;
  font-size: 16px;
  font-family: Gilroy-Light;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.56px;
  word-wrap: break-word;
}

.white-block-1-content-2-divider {
  width: 245px;
  height: 85px;
  left: 0px;
  top: 36px;
  position: absolute;
  border-right: 0.25px black solid;
}

.white-block-2 {
  width: 550px;
  height: 647px;
  left: 0px;
  top: 433px;
  position: absolute;
}

.white-block-2-percent-background {
  width: 550px;
  height: 611px;
  left: 0px;
  top: 36px;
  position: absolute;
  background: black;
}

.white-block-2-colour-gradient-colour {
  width: 550px;
  height: 224px;
  left: 0px;
  top: 423px;
  position: absolute;
  background: linear-gradient(90deg, black 0%, #d9d9d9 100%);
}

.white-block-shaded-square {
  width: 550px;
  height: 387px;
  left: 0px;
  top: 36px;
  position: absolute;
}

.white-80-percent-shaded-square {
  width: 268px;
  height: 193px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: rgba(235, 235, 235, 0.8);
}

.white-40-percent-shaded-square {
  width: 268px;
  height: 194px;
  left: 0px;
  top: 193px;
  position: absolute;
  background: rgba(235, 235, 235, 0.4);
}

.white-60-percent-shaded-square {
  width: 277px;
  height: 193px;
  left: 268px;
  top: 0px;
  position: absolute;
  background: rgba(235, 235, 235, 0.6);
}

.white-20-percent-shaded-square {
  width: 277px;
  height: 194px;
  left: 268px;
  top: 193px;
  position: absolute;
  background: rgba(235, 235, 235, 0.2);
}

.white-80-text {
  left: 55px;
  top: 17px;
  position: absolute;
  color: black;
  font-size: 30px;
  font-family: Gilroy-Heavy;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  word-wrap: break-word;
}

.white-40-text {
  left: 45px;
  top: 210px;
  position: absolute;
  color: black;
  font-size: 30px;
  font-family: Gilroy-Heavy;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  word-wrap: break-word;
}

.white-60-text {
  left: 320px;
  top: 17px;
  position: absolute;
  color: black;
  font-size: 30px;
  font-family: Gilroy-Heavy;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  word-wrap: break-word;
}

.white-20-text {
  left: 317px;
  top: 210px;
  position: absolute;
  color: black;
  font-size: 30px;
  font-family: Gilroy-Heavy;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  word-wrap: break-word;
}

.white-block-2-heading {
  left: 49px;
  top: 0px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: Gilroy-Medium;
  font-weight: 400;
  word-wrap: break-word;
}

.white-block-2-colour-gradient-heading {
  left: 145px;
  top: 516px;
  position: absolute;
  color: black;
  font-size: 30px;
  font-family: Gilroy-Heavy;
  font-weight: 400;
  letter-spacing: 1.5px;
  word-wrap: break-word;
}

.brand-colours-content {
  padding-bottom: 50px;
  padding-left: 100px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  display: flex;
}

.brand-colours-heading {
  color: #ebebeb;
  font-size: 50px;
  font-family: Gilroy-Bold;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  word-wrap: break-word;
}

.brand-colours-subheading {
  width: 972px;
  color: #ebebeb;
  font-size: 20px;
  font-family: Gilroy-Medium;
  font-weight: 400;
  word-wrap: break-word;
}

.brand-colours-images-layout {
  padding-left: 100px;
  padding-right: 100px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  display: inline-flex;
}

.section-1 {
  width: 430px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.image-1 {
  width: 430px;
  height: 607px;
}

.image-1-text {
  color: #ebebeb;
  font-size: 20px;
  font-family: Gilroy-Light;
  font-weight: 400;
  word-wrap: break-word;
}

.vertical-line-1 {
  width: 1px;
  height: 608px;
  border-left: 0.25px rgba(235, 235, 235, 0.4) solid;
}

.section-2 {
  width: 430px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.image-2 {
  width: 430px;
  height: 607px;
}

.image-2-text {
  color: #ebebeb;
  font-size: 20px;
  font-family: Gilroy-Light;
  font-weight: 400;
  word-wrap: break-word;
}

.vertical-line-2 {
  width: 1px;
  height: 608px;
  border-left: 0.25px rgba(235, 235, 235, 0.4) solid;
}

.section-3 {
  width: 430px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.image-3 {
  width: 430px;
  height: 607px;
}

.image-3-text {
  color: #ebebeb;
  font-size: 20px;
  font-family: Gilroy-Light;
  font-weight: 400;
  word-wrap: break-word;
}


@media(max-width: 1919px){
  .sidebar{
    width: 15%;
    padding-top: 2%;
  }

  .sidebar a{
    padding-left: 15%;
    padding-top: 2%;
    font-size: 16px;
  }

  .search-bar{
    margin-left: 15%;
    width: 70%;
  }

  .sidebar-heading{
    padding-left: 15%;
  }

  .sidebar-heading-2{
    padding-left: 15%;
  }

  .scroller-svg{
    height: 100%;
    top: 10%;
  }

  .basics-list {
    height: 200px;
  } 

  .line{
    height: 200px;
    top: -16px;
  }

  .square{
    width: 17px;
    height: 17px;
  }

  .basics-list{
    padding-left: 8%;
  }

  .basics-list .item a{
    font-size: 16px;
  }

  .basics-list .item:hover a{
    font-size: 20px;
  }

  .item-1 a, .item-2 a, .item-3 a,
  .item-4 a, .item-5 a, .item-6 a,
  .item-7 a, .item-8 a{
    font-size: 15px;
  }

  .colour-systems{
    height: 650px;
  }

  .colour-system-heading{
    font-size: 70px;
  }

  .colour-system-subheading{
     font-size: 18px;
  }

  .colour-system-paragraph{
    font-size: 18px;
  }

}