body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    overflow: hidden;
}

/* Style the sidebar */
.sidebar {
    width: 15%;
    height: 100%;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 0.5px solid rgba(235, 235, 235, 0.4);
    z-index: 999;
}

/* Style the sidebar links */
.sidebar a {
    display: block;
    padding-left: 50px;
    padding-top: 9px;
    text-align: left;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
    font-family: Gilroy-Light, sans-serif;
}

.logo-image{
  padding-bottom: 12.5%;
  padding-top: 2.5%;
  width: 25%;
}

.divider-1{
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 0.5px solid rgba(235, 235, 235, 0.4);
}

.divider-2{
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 0.5px solid rgba(235, 235, 235, 0.4);
}

.divider-3{
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 0.5px solid rgba(235, 235, 235, 0.4);
  border-bottom: 0.5px solid rgba(235, 235, 235, 0.4);
}

.search-bar{
  margin-left: 50px;
  color: #EBEBEB;
  background-color: #000000;
  border: none;
}

.sidebar-heading{
  color: white;
  font-size: 14px;
  padding-left: 50px;
  font-family: Gilroy-Light, sans-serif;
}

.main-content{
    margin-left: 15.05%;
    position: relative;
    opacity: 0;
    animation: fadeOpacity 2s 1 forwards;
}

@keyframes fadeOpacity{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.index-image{
  width: 50%;
  position: relative;
  top: -100px;
}

.home-image{
  width: 100%;
}

.main-heading{
  position: absolute;
  white-space: nowrap;
  top: 35%;
  left: 34.5%;
  animation: slideIn 1s ease-in;
}

@keyframes slideIn{
  from{
    left: 100%;
  }
  to{
    left: 34.5%;
  }
}

.main-heading-part-1{
  color: #E0C438;
  font-size: 80px;
  font-family: Gilroy-Light, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-wrap: break-word;
}

.main-heading-part-2{
  color: #E0C438;
  font-size: 80px;
  font-family: Gilroy-Heavy, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-wrap: break-word;
  padding-left: 16px;
  position: absolute;
  left: 100%;
  top: -2%;
  animation: slideOut 1s ease-in;
}

@keyframes slideOut{
  from{
    left: 0%;
  }
  to{
    left: 100%;
  }
}

.main-paragraph{
  width: 35%;
  position: absolute;
  top: 50%;
  left: 60%;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn{
  from{
    transform: translate(-500px);
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.main-paragraph-1{
  color: #EBEBEB;
  font-size: 20px;
  font-family: Gilroy-Light, sans-serif;
}

.main-paragraph-2{
  color: #EBEBEB;
  font-size: 20px;
  font-family: Gilroy-Medium, sans-serif;
}

.scroller{
  position: absolute;
  top: 65%;
  left: 90%;
}

.container{
  position: relative;
}

.square{
  width: 20px;
  height: 20px;
  background-color: #E0C438;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: slideIn2 1s ease forwards;
}

.line{
  width: 145px;
  height: 0.5px;
  border: 0.5px solid #E0C438;
  color: #E0C438;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%);
  animation: slideIn3 1s ease forwards;
}

.item-inactive{
  cursor: default;
}

.divider-3 a{
  color: #ebebeb52;
}


.sidebar-heading-2 {
  color: #EBEBEB52;
  font-size: 14px;
  padding-left: 50px;
  font-family: Gilroy-Light, sans-serif;
}

@media(max-width: 1919px){
  .sidebar{
    width: 15%;
    padding-top: 2%;
  }

  .sidebar a{
    padding-left: 15%;
    padding-top: 2%;
    font-size: 16px;
  }

  .search-bar{
    margin-left: 15%;
    width: 70%;
  }

  .sidebar-heading{
    padding-left: 15%;
  }

  .sidebar-heading-2{
    padding-left: 15%;
  }

  .main-heading{
    left: 35%;
    top: 30%;
  }

  .main-heading-part-1{
    font-size: 60px;
  }

  .main-heading-part-2{
    font-size: 60px;
    top: -3%;
  }

  .main-paragraph{
    left: 60%;
    top: 42%;
  }

  .main-paragraph-1{
    font-size: 17px;
  }

  .main-paragraph-2{
    font-size: 17px;
  }

  .scroller{
    left: 87%;
  }

  .square{
    width: 18px;
    height: 18px;
  }

  @keyframes slideIn3 {
    from{
      left: 100%;
    }
    to{
      left: 77%
    }
    
  }

}

@media(min-width: 1350px){
  .scroller{
    left: 90%;
  }

 .main-heading{
  left: 33%;
 }
}