body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    overflow: hidden;
}

/* Style the sidebar */
.sidebar {
  width: 15%;
  height: 100%;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 0.5px solid rgba(235, 235, 235, 0.4);
  z-index: 99;
}

/* Style the sidebar links */
.sidebar a {
  display: block;
  padding-left: 50px;
  padding-top: 9px;
  text-align: left;
  color: white;
  text-decoration: none;
  transition: 0.3s;
  font-size: 20px;
  font-family: Gilroy-Light, sans-serif;
}

.sidebar .active{
  color: #E0C438 !important;
  font-family: Gilroy-Medium, sans-serif !important;
}

.logo-image{
padding-bottom: 12.5%;
padding-top: 2.5%;
width: 25%;
}


.divider-1{
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 0.5px solid rgba(235, 235, 235, 0.4);
}

.divider-2{
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 0.5px solid rgba(235, 235, 235, 0.4);
}

.divider-3{
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 0.5px solid rgba(235, 235, 235, 0.4);
    border-bottom: 0.5px solid rgba(235, 235, 235, 0.4);
  }

  .search-bar{
    margin-left: 50px;
    color: #EBEBEB;
    background-color: #000000;
    border: none;
  }
  
  .search-bar::-webkit-search-cancel-button{
      -webkit-appearance: none;
      height: 1rem;
      width: 1rem;
      background: linear-gradient(45deg,
      rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 43%,
      #ffffff,
      #ffffff,
      rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0) 100%,
      ),
  
      linear-gradient(135deg,
      transparent 0%,
      transparent 43%,
      #ffffff 45%,
      #ffffff 55%,
      transparent 57%,
      transparent 90%
      );
  
      background-size: contain;
  }

  .sidebar-heading{
    color: white;
    font-size: 14px;
    padding-left: 50px;
    font-family: Gilroy-Light, sans-serif;
  }
  
  .main-content{
      margin-left: 15.01%;
      position: relative;
      display: flex;
      flex-direction: column;
      opacity: 0;
       animation: fadeOpacity 1s 1 forwards;
  }

@keyframes fadeOpacity{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.index-image{
  width: 50%;
  position: relative;
  top: -100px;
}

.home-image{
  width: 100%;
}

.main-heading{
  position: absolute;
  white-space: nowrap;
  top: 35%;
  left: 34.5%;
  animation: slideIn 1s ease-in;
}

@keyframes slideIn{
  from{
    left: 100%;
  }
  to{
    left: 34.5%;
  }
}

.main-heading-part-1{
  color: #E0C438;
  font-size: 80px;
  font-family: Gilroy-Light, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-wrap: break-word;
  animation: slideOut 1s ease-in;
}

.main-heading-part-2{
  color: #E0C438;
  font-size: 80px;
  font-family: Gilroy-Heavy, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-wrap: break-word;
  padding-left: 16px;
  position: absolute;
  left: 100%;
  top: -6%;
  background-color: #000000;
  animation: slideOut 1s ease-in;
  z-index: 999;
}

@keyframes slideOut{
  from{
    left: -100%;
    opacity: 0;
  }
  to{
    left: 100%;
    opacity: 1;
  }
}

.main-paragraph{
  width: 35%;
  position: absolute;
  top: 46%;
  left: 60%;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn{
  from{
    transform: translate(-200px);
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.main-paragraph-1{
  color: #EBEBEB;
  font-size: 20px;
  font-family: Gilroy-Light, sans-serif;
}

.main-paragraph-2{
  color: #EBEBEB;
  font-size: 20px;
  font-family: Gilroy-Medium, sans-serif;
}

.scroller{
  position: absolute;
  top: 65%;
  left: 90%;
}

.container{
  position: relative;
}

.square{
  width: 20px;
  height: 20px;
  background-color: #E0C438;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: slideIn2 1s ease forwards;
}

.line{
  width: 145px;
  height: 0.5px;
  border: 0.5px solid #E0C438;
  background-color: #E0C438;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%);
  animation: slideIn3 1s ease forwards;
}

.item-inactive{
  cursor: default;
}

.divider-3 a{
  color: #ebebeb52;
}


.sidebar-heading-2 {
  color: #EBEBEB52;
  font-size: 14px;
  padding-left: 50px;
  font-family: Gilroy-Light, sans-serif;
}

@media(width: 2560px){
    .main-heading{
    left: 38.5%;
    top: 30%;
  }

  .main-heading-part-2{
    top: -3%;
  }

  .main-paragraph{
    left: 57.5%;
    top: 38%;
  }

  .scroller{
    top: 53%;
    left: 80%;
  }
}

@media(max-width: 1840px){
  .sidebar{
    width: 15%;
    padding-top: 2%;
  }

  .sidebar a{
    padding-left: 15%;
    padding-top: 2%;
    font-size: 16px;
  }

  .search-bar{
    margin-left: 15%;
    width: 70%;
  }

  .sidebar-heading{
    padding-left: 15%;
  }

  .sidebar-heading-2{
    padding-left: 15%;
  }

  .main-heading{
    left: 35%;
    top: 30%;
  }

  .main-heading-part-1{
    font-size: 60px;
  }

  .main-heading-part-2{
    font-size: 60px;
    top: -3%;
  }

  .main-paragraph{
    width: 30%;
    left: 55.5%;
    top: 39%;
  }

  .main-paragraph-1{
    font-size: 17px;
  }

  .main-paragraph-2{
    font-size: 17px;
  }

  .scroller{
    top: 58%;
    left: 79%;
  }

  .square{
    width: 18px;
    height: 18px;
  }

  @keyframes slideIn3 {
    from{
      left: 100%;
    }
    to{
      left: 77%
    }
    
  }

}

@media(max-width: 1680px){
  .main-paragraph{
    width: 32%;
    left: 56.5%;
    transform: translate(4%);
  }

  .scroller{
    top: 65%;
    left: 85%;
  }
}

@media(max-width: 1540px){
  .main-paragraph{
    left: 58%;
  }

  .scroller{
    top: 60%;
    left: 88%;
  }
}

@media(max-width: 1440px){
  .main-paragraph{
    left: 60%;
  }

  .scroller{
    top: 70%;
    left: 91%;
  }
}

@media(max-width: 1340px){
  .main-paragraph{
    left: 59%;
  }

  .main-heading-part-1{
    font-size: 52px;
  }

  .main-heading-part-2{
    font-size: 52px;
    top: -6%;
  }

  .scroller{
    top: 65%;
    left: 88%;
  }
}

@media(max-width: 1240px){
  .main-paragraph{
    left: 61%;
  }

  .scroller{
    top: 70%;
    left: 92%;
  }
}

@media(max-width: 1140px){
  .main-paragraph{
    left: 63%;
    top: 45%;
  }

  .scroller{
    top: 77%;
    left: 98%;
  }
}

@media(max-width: 1024px){
  .main-paragraph{
    width: 38%;
    left: 66%;
    top: 45%;
  }

  .scroller{
    top: 79%;
    left: 105%;
  }
}