body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  overflow-x: hidden;
}

body::-webkit-scrollbar{
  width: 0%;
  height: 0%;
}

/* Style the page title */
.title {
  font-family: Gilroy-Light, sans-serif;
}

/* Style the sidebar */
.sidebar {
  width: 15%;
  height: 100%;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 0.5px solid rgba(235, 235, 235, 0.4);
  z-index: 99;
}

/* Style the sidebar links */
.sidebar a {
  display: block;
  padding-left: 50px;
  padding-top: 9px;
  text-align: left;
  color: white;
  text-decoration: none;
  transition: 0.3s;
  font-size: 20px;
  font-family: Gilroy-Light, sans-serif;
}

.sidebar .active {
  color: #e0c438 !important;
  font-family: Gilroy-Medium, sans-serif !important;
}

.logo-image {
  padding-bottom: 12.5%;
  padding-top: 2.5%;
  width: 25%;
}

.divider-1 {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 0.5px solid rgba(235, 235, 235, 0.4);
}

.divider-2 {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 0.5px solid rgba(235, 235, 235, 0.4);
  border-bottom: 0.5px solid rgba(235, 235, 235, 0.4);
}

.divider-3 {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 0.5px solid rgba(235, 235, 235, 0.4);
}

.divider-3 a{
  color: #ebebeb52;
}

.search-bar {
  margin-left: 50px;
  color: #ebebeb;
  background-color: #000000;
  border: none;
}

.search-bar::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 43%,
      #ffffff,
      #ffffff,
      rgba(0, 0, 0, 0) 57%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      #ffffff 45%,
      #ffffff 55%,
      transparent 57%,
      transparent 90%
    );

  background-size: contain;
}

.sidebar-heading {
  color: #EBEBEB;
  font-size: 14px;
  padding-left: 50px;
  font-family: Gilroy-Light, sans-serif;
}

.sidebar-heading-2 {
  color: #EBEBEB52;
  font-size: 14px;
  padding-left: 50px;
  font-family: Gilroy-Light, sans-serif;
}

.main-content {
  margin-left: 15.04%;
  position: relative;
  display: flex;
  flex-direction: column;
  opacity: 0.3;
  animation: fadeOpacity 1s 1 forwards;
}

@keyframes fadeOpacity{
  0%{
    opacity: 0.3;
  }
  100%{
    opacity: 1;
  }
}

.basics-list {
  padding-left: 30px;
  line-height: 1;
  position: relative;
  flex-direction: column;
  height: 250px;
  overflow: hidden;
}

.basics-list .item a {
  margin: 0;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  transition: font-size 0.1s ease-out;
}

.remove-animation{
  animation: none;
}

.basics-list .item:hover a {
  font-size: 24px;
}

@keyframes cascade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Add animation delay to each link */
.basics-list .item:nth-child(1) a {
  animation-delay: 0.1s;
}
.basics-list .item:nth-child(2) a {
  animation-delay: 0.2s;
}
.basics-list .item:nth-child(3) a {
  animation-delay: 0.3s;
}
.basics-list .item:nth-child(4) a {
  animation-delay: 0.4s;
}
.basics-list .item:nth-child(5) a {
  animation-delay: 0.5s;
}
.basics-list .item:nth-child(6) a {
  animation-delay: 0.6s;
}
.basics-list .item:nth-child(7) a {
  animation-delay: 0.7s;
}
.basics-list .item:nth-child(8) a {
  animation-delay: 0.8s;
}

@keyframes slideBar {
  to {
    height: 250px;
  }
}

.main-logo {
  width: 100%;
  background-color: #e0c438;
  padding-top: 13.02vw;
  padding-left: 12.5vw;
  padding-bottom: 9.375vw;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, scrollbar-color 0.5s ease-in-out;
}

.main-logo-content {
  width: 1000px;
  height: 280px;
}

.main-logo-heading {
  color: #000000;
  font-size: 80px;
  font-family: Gilroy-Heavy, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-wrap: break-word;
  transition: color 0.3s ease-in-out;
}

.main-logo-subheading {
  color: #000000;
  font-size: 20px;
  font-family: Gilroy-Medium, sans-serif;
  word-wrap: break-word;
  transition: color 0.3s ease-in-out;
}

.main-logo-paragraph {
  color: #000000;
  font-size: 20px;
  font-family: Gilroy-Light, sans-serif;
  word-wrap: break-word;
  transition: color 0.3s ease-in-out;
}

.vican-logo-theme {
  position: relative;
  width: 100%;
  padding-top: 50px;
  transition: color 0.3s ease-in-out;
}

.active-square {
  width: 20px;
  height: 20px;
  left: 3.5%;
  top: 91%;
  position: absolute;
  background: black;
  transition: left 0.3s ease-in-out;
}



.yellow-theme,
.black-theme,
.white-theme {
  background-color: transparent;
  border: none;
  width: 8%;
  height: auto;
  transition: color 0.3s ease-in-out;
}

.yellow-logo {
  width: 100%;
  border: 1px solid #e0c438;
}

.white-logo {
  width: 100%;
  border: 1px solid #ebebeb;
}

.black-logo {
  width: 100%;
  border: 1px solid #000000;
}

.disclosure-section {
  position: relative;
  top: 140px;
  padding-left: 10%;
  padding-top: 50px;
  padding-bottom: 100px;
  transition: color 0.3s ease-in-out;
}

.disclosure {
  width: 820px;
  text-align: center;
  transition: color 0.3s ease-in-out;
}

.disclosure-paragraph {
  color: #000000;
  font-size: 15px;
  font-family: Gilroy-Light, sans-serif;
  word-wrap: break-word;
  transition: color 0.3s ease-in-out;
}

.variable-logos-section {
  padding-top: 50px;
}

.variable-logos-heading {
  color: #ebebeb;
  font-size: 50px;
  font-family: Gilroy-Bold, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  word-wrap: break-word;
  margin-left: 100px;
}

.download-icon {
  padding-left: 30px;
}

.variable-logos{
  opacity: 0.5;
}

.variable-logos.active,
.positioning-main-content.active
{
  opacity: 1;
  transform: translateY(-10px);
  transition: opacity 1s, transform 1s;
}

.variable-logos-text {
  padding-top: 20px;
  width: 1000px;
  margin-left: 100px;
  opacity: 0;
}

.variable-logos-subheading {
  color: #ebebeb;
  font-size: 20px;
  font-family: Gilroy-Medium, sans-serif;
}

.variable-logos-paragraph {
  color: #ebebeb;
  font-size: 20px;
  font-family: Gilroy-Light;
  word-wrap: break-word;
}

.logos {
  padding-top: 50px;
  display: flex;
  text-align: center;
}

.downloadable-logos{
  opacity: 0.1;
}

.download-yellow-logo {
  flex: 1;
  box-sizing: border-box;
  background-color: #ebebeb;
}

.download-white-logo {
  flex: 1;
  box-sizing: border-box;
  background-color: #000000;
}

.download-black-logo {
  flex: 1;
  box-sizing: border-box;
  background-color: #e0c438;
}

.yellow-logo-size {
  color: black;
  font-size: 30px;
  font-family: Gilroy-Medium;
  word-wrap: break-word;
  padding-top: 30px;
  padding-bottom: 30px;
}

.yellow-logo-size a {
  text-decoration: none;
  color: black;
}

.white-logo-size {
  color: #ebebeb;
  font-size: 30px;
  font-family: Gilroy-Medium;
  word-wrap: break-word;
  padding-top: 30px;
  padding-bottom: 30px;
}

.white-logo-size a {
  text-decoration: none;
  color: #ebebeb;
}

.black-logo-size {
  color: black;
  font-size: 30px;
  font-family: Gilroy-Medium;
  word-wrap: break-word;
  padding-top: 30px;
  padding-bottom: 30px;
}

.black-logo-size a {
  text-decoration: none;
  color: black;
}

.positioning-section {
  padding-top: 50px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.positioning-slideshow {
  width: 100%;
  opacity: 0.3;
}

.positioning-main-content {
  padding-bottom: 50px;
  margin-left: 100px;
  padding-right: 100px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  opacity: 0.3;
}

.positioning-text{
  width: 972px; 
  padding-top: 20px;
  opacity: 0.3;
}

.positioning-main-heading {
  color: #ebebeb;
  font-size: 50px;
  font-family: Gilroy-Bold;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  word-wrap: break-word;
  opacity: 0.3;
}

.positioning-main-subheading {
  color: #ebebeb;
  font-size: 20px;
  font-family: Gilroy-Medium;
  font-weight: 400;
  word-wrap: break-word;
  padding-top: 20px;
}

.positioning-main-paragraph {
  color: #ebebeb;
  font-size: 20px;
  font-family: Gilroy-Light;
  word-wrap: break-word;
}

.positioning-images {
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  display: flex;
}
.left-lorem-img{
  width: 100%;
}

.left-lorem {
  flex: 1;
}

.middle-lorem-img{
  width: 100%;
}

.middle-lorem {
  flex: 1;
}

.right-lorem-img{
  width: 100%;
}

.right-lorem {
  flex: 1;
}

.slideshow-arrow {
  position: absolute;
  top: 60%;
  left: 95%;
}

.right-slide-arrow-button {
  background-color: transparent;
  border: none;
}

.minimum-size-section {
  padding-bottom: 50px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
  opacity: 0.3;
}

.minimum-size-content {
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;

}

.minimum-size-heading {
  color: #ebebeb;
  font-size: 50px;
  font-family: Gilroy-Bold;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  word-wrap: break-word;
  opacity: 0.3;
}

.minimum-size-text{
  width: 972px; 
  padding-top: 20px;
  opacity: 0.3;
}

.minimum-size-subheading {
  color: #ebebeb;
  font-size: 20px;
  font-family: Gilroy-Medium;
  word-wrap: break-word;
}

.minimum-size-paragraph {
  color: #ebebeb;
  font-size: 20px;
  font-family: Gilroy-Light;
  word-wrap: break-word;
}

.minimum-size-image-layout {
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  display: inline-flex;
  opacity: 0.3;
}

.minimum-size-large-image {
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.large-image {
  width: 100%;
  height: 100%;
}

.main-logo-horizontal-line {
  width: 246px;
  height: 0.5px;
  border-bottom: 0.25px #e0c438 solid;
}

.minimum-size-small-image {
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.small-image {
  width: 100%;
  height: 100%;
}

.spacing-section {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
  opacity: 0.3;
}

.spacing-content {

  padding-left: 100px;
  padding-right: 100px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.spacing-heading {
  height: 44px;
  color: #ebebeb;
  font-size: 50px;
  font-family: Gilroy-Bold;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  word-wrap: break-word;
  opacity: 0.3;
}

.spacing-text{
  width: 972px; 
  padding-top: 30px;
  opacity: 0.3;
}

.spacing-subheading {
  color: #ebebeb;
  font-size: 20px;
  font-family: Gilroy-Medium;
  font-weight: 400;
  word-wrap: break-word;
}

.spacing-paragraph {
  color: #ebebeb;
  font-size: 20px;
  font-family: Gilroy-Light;
  word-wrap: break-word;
}

.spacing-images {
  padding-left: 100px;
  padding-right: 100px;
  justify-content: flex-start;
  align-items: center;
  gap: 134px;
  display: flex;
  opacity: 0.3;
}

.spacing-square {
  width: 400px;
  height: 400px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.spacing-square-image {
  width: 100%;
  height: 100%;
}

.spacing-horizontal {
  width: 596px;
  height: 400px;
  padding-top: 18%;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.spacing-horizontal-image {
  width: 667px;
  height: 195px;
}

.logo-size-section {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
  opacity: 0.3;
}

.logo-size-content {
  padding-left: 100px;
  padding-right: 100px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 50px;
}

.logo-size-heading {
  color: #ebebeb;
  font-size: 50px;
  font-family: Gilroy-Bold;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  word-wrap: break-word;
  opacity: 0.3;
}

.logo-size-text{
  width: 972px; 
  padding-top: 20px;
  opacity: 0.3;
}

.logo-size-subheading {
  color: #ebebeb;
  font-size: 20px;
  font-family: Gilroy-Medium;
  font-weight: 400;
  word-wrap: break-word;
}

.logo-size-paragraph {
  color: #ebebeb;
  font-size: 20px;
  font-family: Gilroy-Light;
  font-weight: 400;
  word-wrap: break-word;
}

.logo-size-examples {
  padding-left: 100px;
  padding-right: 100px;
  justify-content: flex-start;
  align-items: center;
  gap: 97px;
  display: inline-flex;
  opacity: 0.3;
}

.logo-size-examples-content {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
}

.horizontal-1 {
  width: 655px;
  height: 1px;
  border-top: 0.25px #e0c438 solid;
}

.icon-1-layout {
  justify-content: flex-start;
  align-items: center;
  gap: 492px;
  display: inline-flex;
}

.icon-1 {
  width: 100px;
  height: 100px;
}

.icon-1-text {
  width: 63px;
  height: 29px;
  color: white;
  font-size: 20px;
  font-family: Gilroy-Light;
  font-weight: 400;
  word-wrap: break-word;
}

.horizontal-2 {
  width: 655px;
  height: 50px;
  border-top: 0.25px #e0c438 solid;
  border-bottom: 0.25px #e0c438 solid;
}

.header-layout {
  height: 100px;
  justify-content: center;
  align-items: center;
  gap: 62px;
  display: inline-flex;
}

.header-heading {
  height: 181px;
  color: white;
  font-size: 132px;
  font-family: Gilroy-Heavy;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 6.6px;
  word-wrap: break-word;
}

.header-text {
  color: white;
  font-size: 20px;
  font-family: Gilroy-Light;
  font-weight: 400;
  word-wrap: break-word;
}

.layout {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: flex;
}

.horizontal-3 {
  width: 655px;
  height: 5px;
  border-top: 0.25px #e0c438 solid;
}

.layout-1 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
}

.horizontal-4 {
  width: 655px;
  height: 1px;
  border-top: 0.25px #e0c438 solid;
}

.icon-2-layout {
  justify-content: flex-start;
  align-items: center;
  gap: 492px;
  display: inline-flex;
}

.icon-2 {
  width: 100px;
  height: 100px;
}

.icon-2-text {
  color: white;
  font-size: 20px;
  font-family: Gilroy-Light;
  font-weight: 400;
  word-wrap: break-word;
}

.horizontal-5 {
  width: 655px;
  height: 50px;
  border-top: 0.25px #e0c438 solid;
  border-bottom: 0.25px #e0c438 solid;
}

.subheading-layout {
  justify-content: center;
  align-items: center;
  gap: 164px;
  display: inline-flex;
}

.subheading-heading {
  color: white;
  font-size: 66px;
  font-family: Gilroy-Bold;
  font-weight: 400;
  letter-spacing: 3.3px;
  word-wrap: break-word;
}

.subheading-text {
  color: white;
  font-size: 20px;
  font-family: Gilroy-Light;
  font-weight: 400;
  word-wrap: break-word;
}

.layout-2 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: flex;
}

.horizontal-6 {
  width: 655px;
  height: 5px;
  border-top: 0.25px #e0c438 solid;
}

.prohibitions-section {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
  opacity: 0.3;
}

.prohibitions-content {
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  display: flex;
}

.prohibitions-heading {
  width: 393px;
  height: 44px;
  color: #ebebeb;
  font-size: 50px;
  font-family: Gilroy-Bold;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  word-wrap: break-word;
}

.prohibitions-slideshow {
  padding-left: 100px;
  align-items: center;
  gap: 30px;
  display: inline-flex;
}

.prohibitions-image-1 {
  height: 607px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.image-1 {
  width: 430px;
  height: 607px;
}

.prohibitions-image-2 {
  height: 607px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.image-2 {
  width: 430px;
  height: 607px;
}

.prohibitions-image-3 {
  height: 607px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.image-3 {
  width: 430px;
  height: 607px;
}

.prohibitions-right-slide-arrow-button {
  background-color: transparent;
  border: none;
}

.scroller-svg {
  width: auto;
  height: 300px;
  position: fixed;
  top: 40%;
  left: 97%;
  z-index: 999;
}

.line {
  width: 0.25px;
  height: 290px;
  background-color: #EBEBEB;
  position: relative;
  top: -20px;
}

.square {
  width: 20px;
  height: 20px;
  background-color: #EBEBEB;
}

.scroller-container{
  width: 100%; 
  height: 100%; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.scroller-svg-container{
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.item-inactive{
  cursor: default;
}

@keyframes slideAway{
  from{
    opacity: 0.3;
  }
  to{
    opacity: 1;
  }
}

.variable-logos.active,
.positioning-main-content.active,
.minimum-size-section.active,
.spacing-section.active,
.logo-size-section.active,
.prohibitions-section.active,
.example-section-heading.active,
.examples-section-image-1-2.active,
.examples-section-image-3.active,
.examples-section-image-4.active,
.variable-logos.active,
.variable-logos-text.active,
.downloadable-logos.active,
.positioning-main-heading.active,
.positioning-text.active,
.positioning-slideshow.active,
.minimum-size-heading.active,
.minimum-size-text.active,
.minimum-size-image-layout.active,
.spacing-heading.active, .spacing-text.active,
.spacing-images.active,
.logo-size-heading.active,
.logo-size-text.active,
.logo-size-examples.active
{
  opacity: 1;
  transform: translateY(-10px);
  transition: opacity 1s, transform 1s;
}

.examples-section{
  padding-bottom: 50px; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 50px; 
  display: inline-flex;
}

.example-content{
  width: 816px; 
  padding-bottom: 50px; 
  padding-left: 100px; 
  padding-right: 100px; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 50px; 
  display: flex;
}

.example-section-heading{
  width: 616px; 
  height: 44px; 
  color: #EBEBEB; 
  font-size: 50px; 
  font-family: Gilroy-Bold; 
  font-weight: 400; 
  text-transform: uppercase; 
  letter-spacing: 2.50px; 
  word-wrap: break-word;
}

.examples-section-image-1-2{
  padding-left: 250px; 
  justify-content: center; 
  align-items: center; 
  gap: 30px; 
  display: inline-flex;
  opacity: 0.3;
}

.examples-section-image-3{
  padding-left: 170px;  
  justify-content: center; 
  align-items: center; 
  gap: 30px; 
  display: inline-flex;
  opacity: 0.3;
}

.examples-section-image-4{
  padding-left: 170px;  
  justify-content: center; 
  align-items: center; 
  gap: 30px; 
  display: inline-flex;
  opacity: 0.3;
}

.tshirt-1-container{
  height: 607px; 
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  display: flex;
}

.tshirt-1{
  width: 461.75px; 
  height: 607px;
}

.tshirt-2{
  width: 461.75px; 
  height: 607px;
}

.vertical-line-3{
  width: 1px; 
  height: 608px; 
  border-left: 0.25px rgba(235, 235, 235, 0.4) solid;
}

.example-image-1-container{
  height: 989px; 
  justify-content: center; 
  align-items: center;
  gap: 10px; 
  display: flex
}

.example-image-1{
  width: 1200px; 
  height: 989px;
}

.example-image-2-container{
  height: 989px; 
  justify-content: center; 
  align-items: center;
  gap: 10px; 
  display: flex
}

.example-image-2{
  width: 1200px; 
  height: 989px;
}

.item-1 a{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: font-size 0.1s ease-out;
  position: absolute;
  top: 0%;
}

.item-1 a:hover{
  font-size: 24px;
}

.item-2 a{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: font-size 0.1s ease-out;
  position: absolute;
  top: 12%;
}

.item-2 a:hover{
  font-size: 24px;
}

.item-3 a{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: font-size 0.1s ease-out;
  position: absolute;
  top: 24%;
}

.item-3 a:hover{
  font-size: 24px;
}

.item-4 a{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: font-size 0.1s ease-out;
  position: absolute;
  top: 36%;
}

.item-4 a:hover{
  font-size: 24px;
}

.item-5 a{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: font-size 0.1s ease-out;
  position: absolute;
  top: 48%;
}

.item-5 a:hover{
  font-size: 24px;
}

.item-6 a{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: font-size 0.1s ease-out;
  position: absolute;
  top: 60%;
}

.item-6 a:hover{
  font-size: 24px;
}

.item-7 a{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: font-size 0.1s ease-out;
  position: absolute;
  top: 72%;
}

.item-7 a:hover{
  font-size: 24px;
}

.item-8 a{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: font-size 0.1s ease-out;
  position: absolute;
  top: 84%;
}

.item-8 a:hover{
  font-size: 24px;
}

.position-vertical-line{
  width: 1px; 
  height: 608px; 
  border-left: 0.25px rgba(235, 235, 235, 0.4) solid;
}

.vertical-line-1{
  width: 1px; 
  height: 608px; 
  border-left: 0.25px rgba(235, 235, 235, 0.4) solid;
}

.vertical-line-2{
  width: 1px; 
  height: 608px; 
  border-left: 0.25px rgba(235, 235, 235, 0.4) solid;
}

@media(max-width: 1919px){
  
  .sidebar{
    width: 15%;
    padding-top: 2%;
  }

  .sidebar a{
    padding-left: 15%;
    padding-top: 2%;
    font-size: 16px;
  }

  .search-bar{
    margin-left: 15%;
    width: 70%;
  }

  .sidebar-heading{
    padding-left: 15%;
  }

  .sidebar-heading-2{
    padding-left: 15%;
  }

  .scroller-svg{
    height: 100%;
    top: 10%;
  }

  .line{
    height: 200px;
    top: -16px;
  }

  .square{
    width: 17px;
    height: 17px;
  }

  .basics-list{
    padding-left: 8%;
  }

  @keyframes slideBar {
    to {
      height: 200px;
    }
  }

  .basics-list .item a{
    font-size: 16px;
  }

  .basics-list .item:hover a{
    font-size: 20px;
  }

  .item-1 a, .item-2 a, .item-3 a,
  .item-4 a, .item-5 a, .item-6 a,
  .item-7 a, .item-8 a{
    font-size: 15px;
  }

  .main-logo{
    padding-top: 15%;
    padding-left: 15%;
    padding-bottom: 6%;
    height: 100%;
  }

  .main-logo-content{
    width: 70%;
    height: auto;
  }

  .main-logo-heading{
    font-size: 65px;
  }

  .main-logo-subheading{
    font-size: 18px;
  }

  .main-logo-paragraph{
    font-size: 18px;
  }

  .active-square{
    width: 15px;
    height: 15px;
  }


  .disclosure-section{
    top: 30px;
    padding-left: 4%;
    padding-bottom: 0;
  }

  .disclosure-paragraph{
    font-size: 14px;
  }

  .variable-logos-heading{
    font-size: 40px;
  }

  .download-yellow{
    width: 80%;
  }

  .yellow-logo-size{
    font-size: 25px;
  }

  .download-white{
    width: 80%;
  }

  .white-logo-size{
    font-size: 25px;
  }

  .download-black{
    width: 80%;
  }

  .black-logo-size{
    font-size: 25px;
  }

  .positioning-main-heading{
    font-size: 40px;
  }

  .positioning-main-subheading{
    font-size: 18px;
  }

  .positioning-main-paragraph{
    font-size: 18px;
  }

  .slideshow-arrow{
    left: 101%;
  }

  .position-vertical-line{
    width: 1px; 
    height: 400px; 
    border-left: 0.25px rgba(235, 235, 235, 0.4) solid;
  }

  .minimum-size-heading{
    font-size: 40px
  }

  .minimum-size-subheading{
    font-size: 18px;
  }

  .minimum-size-paragraph{
    font-size: 18px;
  }

  .spacing-heading{
    font-size: 40px;
  }

  .spacing-subheading{
    font-size: 18px;
  }
  
  .spacing-paragraph{
    font-size: 18px;
  }

  .spacing-images{
    gap: 0;
  }

  .spacing-square-image{
    width: 300px;
    height: 300px;
    padding-top: 10%;
  }

  .spacing-horizontal {
    height: 400px;
    height: 0;
    padding-top: 0%;
    padding-bottom: 10%;
  }

  .spacing-horizontal-image{
    width: 400px;
    height: auto;
  }

  .logo-size-heading{
    font-size: 40px;
  }

  .logo-size-subheading{
    font-size: 18px;
  }

  .logo-size-paragraph{
    font-size: 18px;
  }

  .logo-size-examples{
    gap: 40px;
  }

  .horizontal-1{
    width: 450px;
  }

  .icon-1-layout{
    gap: 310px;
  }

  .icon-1-text{
    font-size: 18px;
  }

  .icon-1{
    width: 70px;
    height: 70px;
  }

  .horizontal-2{
    width: 450px;
  }

  .header-layout{
    height: 60px;
    gap: 80px;
  }

  .header-heading{
    height: 90px;
    font-size: 70px;
  }

  .header-text{
    font-size: 18px;
  }

  .horizontal-3{
    width: 450px;
  }

  .horizontal-4{
    width: 450px;
  }

  .icon-2-layout{
    gap: 310px;
  }

  .icon-2{
    width: 70px;
    height: 67px;
  }

  .icon-2-text{
    font-size: 18px;
  }

  .horizontal-5{
    width: 450px;
  }

  .subheading-layout{
    gap: 80px;
  }

  .subheading-heading{
    font-size: 45px;
  }

  .subheading-text{
    font-size: 18px;
  }

  .horizontal-6{
    width: 450px;
  }

  .prohibitions-heading{
    font-size: 40px;
  }

  .vertical-line-1{
    height: 400px;
  }

  .vertical-line-2{
    height: 400px;
  }

  .prohibitions-image-1{
    height: auto;
  }

  .image-1{
    width: 270px;
    height: auto;
  }

  .prohibitions-image-2{
    height: auto
  }

  .image-2{
    width: 270px;
    height: auto;
  }

  .prohibitions-image-3{
    height: auto
  }

  .image-3{
    width: 270px;
    height: auto;
  }

  .example-section-heading{
    font-size: 40px;
  }

  .tshirt-1-container{
    width: 300px;
    height: auto;
  }

  .tshirt-1{
    width: 300px;
    height: auto;
  }

  .vertical-line-3{
    height: 400px;
  }

  .tshirt-2-container{
    width: 300px;
    height: auto;
  }

  .tshirt-2{
    width: 300px;
    height: auto;
  }

  .example-image-1-container{
    height: auto;
  }

  .example-image-1{
    width: 900px;
    height: auto;
  }

  .example-image-2-container{
    height: auto;
  }

  .example-image-2{
    width: 900px;
    height: auto;
  }

  .examples-section-image-3{
    padding-left: 150px;
  }

  .examples-section-image-4{
    padding-left: 150px;
  }

}

@media(width: 2560px){
  .active-square {
    width: 20px;
    height: 20px;
    left: 3.5%;
    top: 93%;
  }

  .scroller-svg{
    height: 100%;
    top: 10%;
  }

  .minimum-size-large-image{
    width: 400px;
    height: 400px;
  }

  .minimum-size-small-image{
    width: 100px;
    height: 100px;
  }

  .spacing-square{
    width: 500px;
    height: 500px;
  }

  .spacing-horizontal{
    width:696px;
    height: 500px;
  }

  .spacing-horizontal-image{
    width: 100%;
    height: 45%;
  }

  .horizontal-1, .horizontal-2, 
  .horizontal-3, .horizontal-4,
  .horizontal-5, .horizontal-6{
    width: 900px;
  }

  .icon-1-layout, .icon-2-layout{
    gap: 670px;
  }

  .icon-1, .icon-2{
    width: 150px;
    height: 150px;
  }

  .icon-1-text, .icon-2-text{
    font-size: 25px;
    width: 80px;
  }

  .header-layout{
    height: 150px;
    gap: 250px;
  }

  .subheading-layout{
    height: 150px;
    gap: 150px;
  }

  .header-heading{
    height: auto;
    font-size: 180px;
  }

  .header-text, .subheading-text{
    font-size: 25px;
  }

  .subheading-heading{
    font-size: 90px;
  }

  .prohibitions-image-1, .prohibitions-image-2,
  .prohibitions-image-3{
    width: 30%;
    height: auto;
  }

  .image-1, .image-2, .image-3{
    width: 100%;
    height: 100%;
  }

  .example-section{
    width: 100%;
  }

  .examples-section-image-1-2{
    width: 80%;
  }

  .example-image-1-container, 
  .example-image-2-container{
    width: 90%;
    height: 90%;
  }

  .example-image-1,
  .example-image-2{
    width: 100%;
    height: 100%;
  }

}