body {
    margin: 0;
    padding: 0;
    background-color: #000000;
  }
  
  /* Style the page title */
  .title {
    font-family: Gilroy-Light, sans-serif;
  }
  
  /* Style the sidebar */
  .sidebar {
    width: 15%;
    height: 100%;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 0.5px solid rgba(235, 235, 235, 0.4);
  }
  
  /* Style the sidebar links */
  .sidebar a {
    display: block;
    padding-left: 50px;
    padding-top: 9px;
    text-align: left;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
    font-family: Gilroy-Light, sans-serif;
  }
  
  .sidebar .active {
    color: #e0c438 !important;
    font-family: Gilroy-Medium, sans-serif !important;
  }
  
  .logo-image {
    padding-bottom: 12.5%;
    padding-top: 2.5%;
    width: 25%;
  }
  
  .divider-1 {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 0.5px solid rgba(235, 235, 235, 0.4);
  }
  
  .divider-2 {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 0.5px solid rgba(235, 235, 235, 0.4);
    border-bottom: 0.5px solid rgba(235, 235, 235, 0.4);
  }

  .divider-3 {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 0.5px solid rgba(235, 235, 235, 0.4);
  }
  
  .search-bar {
    margin-left: 50px;
    color: #ebebeb;
    background-color: #000000;
    border: none;
  }
  
  .search-bar::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    background: linear-gradient(
        45deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 43%,
        #ffffff,
        #ffffff,
        rgba(0, 0, 0, 0) 57%,
        rgba(0, 0, 0, 0) 100%
      ),
      linear-gradient(
        135deg,
        transparent 0%,
        transparent 43%,
        #ffffff 45%,
        #ffffff 55%,
        transparent 57%,
        transparent 90%
      );
  
    background-size: contain;
  }
  
  .sidebar-heading {
    color: white;
    font-size: 14px;
    padding-left: 50px;
    font-family: Gilroy-Light, sans-serif;
  }
  
  .main-content {
    margin-left: 15.04%;
    position: relative;
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: fadeOpacity 1s 1 forwards;
  }
  
  @keyframes fadeOpacity{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
   
  .basics-list {
    padding-left: 30px;
    line-height: 1;
    position: relative;
    flex-direction: column;
    height: 250px;
    overflow: hidden;
  } 
  

  .typography{
    background-color: #e0c438;
    height: 50.26vw;
  }

  .typography-content{
    width: 950px;
    padding-top: 15%;
    padding-left: 15%; 

  }

  .typography-heading{
    color: black;
    font-size: 80px;
    font-family: Gilroy-Heavy;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-wrap: break-word;
    padding-bottom: 30px;
  }

  .typography-subheading{
    color: black;
    font-size: 20px;
    font-family: Gilroy-Medium;
    word-wrap: break-word;
    padding-bottom: 30px;
  }

  .typography-paragraph{
    color: black;
    font-size: 20px;
    font-family: Gilroy-Light;
    word-wrap: break-word;
    padding-bottom: 30px;
  }


  .tester{
    background-color: transparent;
    font-family: Gilroy-Light;
    border: 0.5px solid #000000;
    width: 920px;
    height: 40px;
    font-size: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
  }

  .tester::placeholder{
    opacity: 50%;
  }

  .font-button{
    transition: background 0.3s ease-in-out;
  }

  .font-weighting{
    padding-top: 10px; 
    padding-bottom: 10px; 
    justify-content: center; 
    align-items: flex-start; 
    gap: 10px; 
    display: inline-flex;
    
  }

  .weight-light{
    width: 20px; 
    height: 20px; 
    background: #000000;
    border: 0.50px black solid;
  }

  .weight-medium{
    width: 20px; 
    height: 20px; 
    background: transparent;
    border: 0.50px black solid;
  }

  .weight-heavy{
    width: 20px; 
    height: 20px; 
    background: transparent;
    border: 0.50px black solid;
  }

  .font-light {
    font-family: 'Gilroy-Light', sans-serif;
  }
  
  .font-medium {
    font-family: 'Gilroy-Medium', sans-serif;
  }
  
  .font-heavy {
    font-family: 'Gilroy-Heavy', sans-serif;
  }
  
  .right-slide-arrow-button {
    background-color: transparent;
    border: none;
  }

  .scroller-svg {
    width: auto;
    height: 300px;
    position: fixed;
    top: 40%;
    left: 97%;
    z-index: 999;
}

.line {
    width: 0.25px;
    height: 290px;
    background-color: #EBEBEB;
    position: relative;
    top: -20px;
}

.square {
    width: 20px;
    height: 20px;
    background-color: #EBEBEB;
}

.scroller-container{
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.scroller-svg-container{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

body::-webkit-scrollbar{
    width: 0%;
    height: 0%;
}

.sidebar .active:hover {
  font-size: 22px;
}

.item-hover{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: margin 0.1s ease-in, font-size 0.1s ease-out;
}

.item-hover:hover{
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 24px;
}

.item-inactive{
  cursor: default;
}

.divider-3 a{
  color: #ebebeb52;
}


.sidebar-heading-2 {
  color: #EBEBEB52;
  font-size: 14px;
  padding-left: 50px;
  font-family: Gilroy-Light, sans-serif;
}


@keyframes slideAway{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.gilroy-font-section.active,
.gilroy-font-content.active,
.application-section.active,
.application-heading.active,
.application-images.active{
  opacity: 1;
  transform: translateY(-10px);
  transition: opacity 1s, transform 1s;
}

.gilroy-font-section{
  padding-left: 100px; 
  padding-right: 200px; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 30px; 
  display: inline-flex;
  opacity: 0.3;
}

.gilroy-font-content{
  padding-left: 200px; 
  padding-right: 200px; 
  padding-top: 100px; 
  padding-bottom: 100px; 
  justify-content: flex-end; 
  align-items: flex-start; 
  gap: 158px; 
  display: inline-flex;
  opacity: 0.3;
}

.application-section{
  width: 100%; 
  height: 100%; 
  padding-bottom: 50px; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  display: inline-flex;
  opacity: 0.3;
}

.application-heading{
  padding-bottom: 50px; 
  padding-left: 100px; 
  padding-right: 100px; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 50px; 
  display: flex;
  opacity: 0.3;
}

.application-images{
  padding-left: 100px; 
  justify-content: center; 
  align-items: center; 
  gap: 30px; 
  display: inline-flex; 
  opacity: 0.3;
}

.item-1 a{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: font-size 0.1s ease-out;
  position: absolute;
  top: 0%;
}

.item-1 a:hover{
  font-size: 24px;
}

.item-2 a{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: font-size 0.1s ease-out;
  position: absolute;
  top: 12%;
}

.item-2 a:hover{
  font-size: 24px;
}

.item-3 a{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: font-size 0.1s ease-out;
  position: absolute;
  top: 24%;
}

.item-3 a:hover{
  font-size: 24px;
}

.item-4 a{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: font-size 0.1s ease-out;
  position: absolute;
  top: 36%;
}

.item-4 a:hover{
  font-size: 24px;
}

.item-5 a{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: font-size 0.1s ease-out;
  position: absolute;
  top: 48%;
}

.item-5 a:hover{
  font-size: 24px;
}

.item-6 a{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: font-size 0.1s ease-out;
  position: absolute;
  top: 60%;
}

.item-6 a:hover{
  font-size: 24px;
}

.item-7 a{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: font-size 0.1s ease-out;
  position: absolute;
  top: 72%;
}

.item-7 a:hover{
  font-size: 24px;
}

.item-8 a{
  margin-top: 0; 
  margin-bottom: 0;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  transition: font-size 0.1s ease-out;
  position: absolute;
  top: 84%;
}

.item-8 a:hover{
  font-size: 24px;
}

.gilroy-font-section-heading {
  padding-top: 50px;
  color: #e0c438;
  font-size: 80px;
  font-family: Gilroy-Heavy;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-wrap: break-word;
}

.gilroy-font-section-subheading {
  color: #ebebeb;
  font-size: 80px;
  font-family: Gilroy-Bold;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 80px;
  letter-spacing: 4px;
  word-wrap: break-word;
}

.gilroy-font-content-layout {
  width: 558px;
  height: 461px;
  position: relative;
}

.gilroy-font-content-vertical-line {
  width: 558px;
  height: 461px;
  left: 0px;
  top: 0px;
  position: absolute;
  border-right: 0.25px rgba(235, 235, 235, 0.4) solid;
}

.gilroy-font-content-1 {
  width: 194px;
  left: 0px;
  top: 0px;
  position: absolute;
  color: #ebebeb;
  font-size: 20px;
  font-family: Gilroy-Medium;
  font-weight: 400;
  word-wrap: break-word;
}

.gilroy-font-content-2 {
  width: 194px;
  left: 0px;
  top: 242px;
  position: absolute;
  color: #ebebeb;
  font-size: 20px;
  font-family: Gilroy-Medium;
  font-weight: 400;
  word-wrap: break-word;
}

.gilroy-font-type-layout {
  width: 486px;
  height: 461px;
  position: relative;
}

.gilroy-font-type-1 {
  width: 452px;
  height: 461px;
  left: 0px;
  top: 0px;
  position: absolute;
}

.gilroy-font-type-examples-layout {
  width: 441px;
  height: 461px;
  left: 45px;
  top: 0px;
  position: absolute;
}

.gilroy-font-light-heading {
  color: #ebebeb;
  font-size: 20px;
  font-family: Gilroy-Light;
  font-weight: 400;
  letter-spacing: 1px;
  word-wrap: break-word;
}

.gilroy-font-light-uppercase {
  color: #ebebeb;
  font-size: 20px;
  font-family: Gilroy-Light;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-wrap: break-word;
}

.gilroy-font-light-lowercase {
  color: #ebebeb;
  font-size: 20px;
  font-family: Gilroy-Light;
  font-weight: 400;
  letter-spacing: 4px;
  word-wrap: break-word;
}

.gilroy-font-medium-heading {
  color: #ebebeb;
  font-size: 20px;
  font-family: Gilroy-Medium;
  font-weight: 400;
  letter-spacing: 1px;
  word-wrap: break-word;
}

.gilroy-font-medium-uppercase {
  color: #ebebeb;
  font-size: 20px;
  font-family: Gilroy-Medium;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-wrap: break-word;
}

.gilroy-font-medium-lowercase {
  color: #ebebeb;
  font-size: 20px;
  font-family: Gilroy-Medium;
  font-weight: 400;
  letter-spacing: 4px;
  word-wrap: break-word;
}

.gilroy-font-bold-heading {
  color: #ebebeb;
  font-size: 20px;
  font-family: Gilroy-Bold;
  font-weight: 400;
  letter-spacing: 1px;
  word-wrap: break-word;
}

.gilroy-font-bold-uppercase {
  color: #ebebeb;
  font-size: 20px;
  font-family: Gilroy-Bold;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-wrap: break-word;
}

.gilroy-font-bold-lowercase {
  color: #ebebeb;
  font-size: 20px;
  font-family: Gilroy-Bold;
  font-weight: 400;
  letter-spacing: 4px;
  word-wrap: break-word;
}

.gilroy-font-heavy-heading {
  color: #ebebeb;
  font-size: 20px;
  font-family: Gilroy-Heavy;
  font-weight: 400;
  letter-spacing: 1px;
  word-wrap: break-word;
}

.gilroy-font-heavy-uppercase {
  color: #ebebeb;
  font-size: 20px;
  font-family: Gilroy-Heavy;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-wrap: break-word;
}

.gilroy-font-heavy-lowercase {
  color: #ebebeb;
  font-size: 20px;
  font-family: Gilroy-Heavy;
  font-weight: 400;
  letter-spacing: 4px;
  word-wrap: break-word;
}

.application-heading-text {
  width: 616px;
  height: 44px;
  color: #ebebeb;
  font-size: 50px;
  font-family: Gilroy-Bold;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  word-wrap: break-word;
}

.application-subheading-layout {
  width: 972px;
}

.application-subheading {
  color: #ebebeb;
  font-size: 20px;
  font-family: Gilroy-Medium;
  font-weight: 400;
  word-wrap: break-word;
}

.application-paragraph {
  color: #ebebeb;
  font-size: 20px;
  font-family: Gilroy-Light;
  font-weight: 400;
  word-wrap: break-word;
}

.application-list-heading {
  color: #e0c438;
  font-size: 20px;
  font-family: Gilroy-Medium;
  font-weight: 400;
  word-wrap: break-word;
}

.application-bullet-point {
  color: #e0c438;
  font-size: 20px;
  font-family: Gilroy-Light;
  font-weight: 400;
  word-wrap: break-word;
}

.application-bullet-point-text {
  color: #ebebeb;
  font-size: 20px;
  font-family: Gilroy-Light;
  font-weight: 400;
  word-wrap: break-word;
}

.application-image-1-layout {
  height: 12.91vw;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.application-image-1 {
  width: 22.39vw;
  height: 12.91vw;
}

.application-image-2 {
  width: 22.39vw;
  height: 12.91vw;
}

.application-image-3 {
  width: 22.39vw;
  height: 12.91vw;
}

.application-vertical-line {
  width: 1px;
  height: 12.91vw;
  border-left: 0.25px rgba(235, 235, 235, 0.4) solid;
}

.right-arrow-layout {
  width: 20px;
  height: 20px;
  position: relative;
}


@media(max-width: 1919px){
  .sidebar{
    width: 15%;
    padding-top: 2%;
  }

  .sidebar a{
    padding-left: 15%;
    padding-top: 2%;
    font-size: 16px;
  }

  .search-bar{
    margin-left: 15%;
    width: 70%;
  }

  .sidebar-heading{
    padding-left: 15%;
  }

  .sidebar-heading-2{
    padding-left: 15%;
  }

  .scroller-svg{
    height: 100%;
    top: 10%;
  }

  .basics-list {
    height: 200px;
  } 

  .line{
    height: 200px;
    top: -16px;
  }

  .square{
    width: 17px;
    height: 17px;
  }

  .basics-list{
    padding-left: 8%;
  }

  .basics-list .item a{
    font-size: 16px;
  }

  .basics-list .item:hover a{
    font-size: 20px;
  }

  .item-1 a, .item-2 a, .item-3 a,
  .item-4 a, .item-5 a, .item-6 a,
  .item-7 a, .item-8 a{
    font-size: 15px;
  }

  .typography{
    height: 850px;
  }

  .typography-content{
    width: 900px;
  }

  .typography-heading{
    font-size: 70px;
  }

  .typography-subheading{
    font-size: 18px;
  }

  .typography-paragraph{
    font-size: 18px;
  }

  .tester{
    width: 90%;
    height: 75%;
    font-size: 24px;
  }

  .gilroy-font-content{
    padding-bottom: 0;
  }

  .gilroy-font-section-heading{
    font-size: 70px;
  }

  .gilroy-font-section-subheading{
    font-size: 65px;
  }

  .gilroy-font-content-layout{
    width: 50%;
  }

  .gilroy-font-content-vertical-line{
    width: 150%;
    height: 90%
  }

  .gilroy-font-content-1{
    font-size: 18px;
  }

  .gilroy-font-content-2{
    font-size: 18px;
  }

  .gilroy-font-light-heading, .gilroy-font-light-lowercase,
  .gilroy-font-light-uppercase{
    font-size: 18px;
  }

  .gilroy-font-medium-heading, .gilroy-font-medium-lowercase,
  .gilroy-font-medium-uppercase{
    font-size: 18px;
  }

  .gilroy-font-bold-heading, .gilroy-font-bold-lowercase,
  .gilroy-font-bold-uppercase{
    font-size: 18px;
  }

  .gilroy-font-heavy-heading, .gilroy-font-heavy-lowercase,
  .gilroy-font-heavy-uppercase{
    font-size: 18px;
  }

  .application-heading-text{
    font-size: 40px;
  }

  .application-subheading{
    font-size: 18px;
  }

  .application-paragraph{
    font-size: 18px;
  }

  .application-list-heading{
    font-size: 18px;
  }

  .application-bullet-point{
    font-size: 18px;
  }

  .application-bullet-point-text{
    font-size: 18px;
  }

  .application-images{
    gap: 15px;
    padding-left: 0px;
  }

  .application-image-1, .application-image-2,
  .application-image-3{
    width: 28%;
    height: auto;
  }

  .application-vertical-line {
    height: 180px;
  }

  .right-arrow-layout{
    left: -10px;
  }
}